<app-dropdowns></app-dropdowns>
<app-seeds></app-seeds>
<h4>Seasonal</h4>
<div class="row">
  <div class="card">
    <p
      class="absolute left-0 top-0 bg-sfSecondaryColor rounded-br-[24px] text-[10px] sm:text-xs text-white px-3 py-1.5 border-radius"
    >
      19% OFF
    </p>
    <img
      src="https://cdn.shopify.com/s/files/1/0722/2059/files/6_e338a019-0180-4860-86c7-cdd5af7dac94.png?v=1689404030&width=256"
      class="card-img-top"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">ABHILASH TOMATO SEEDS</h5>
      <p class="card-text">Seminis</p>
      <p>₹ 628 <s> ₹ 775</s></p>
      <p style="color: green">Saved Price ₹ 147</p>
      <p>
        Size
        <button style="border-radius: 5px; background-color: white">
          10 gms
        </button>
      </p>
    </div>
  </div>
  <div class="card">
    <p
      class="absolute left-0 top-0 bg-sfSecondaryColor rounded-br-[24px] text-[10px] sm:text-xs text-white px-3 py-1.5 border-radius"
    >
      15% OFF
    </p>
    <img
      src="https://cdn.shopify.com/s/files/1/0722/2059/files/11_a3c88108-b1ec-44ad-b12b-21e78b01338c.webp?v=1689403489&width=256"
      class="card-img-top"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Delegate Insecticide</h5>
      <p class="card-text">Corteva Agriscience</p>
      <p>₹ 1299 <s> ₹ 1528</s></p>
      <p style="color: green">Saved Price ₹ 229</p>
      <p>
        Size
        <button style="border-radius: 5px; background-color: white">
          100 ml
        </button>
      </p>
    </div>
  </div>
  <div class="card">
    <p
      class="absolute left-0 top-0 bg-sfSecondaryColor rounded-br-[24px] text-[10px] sm:text-xs text-white px-3 py-1.5 border-radius"
    >
      47% OFF
    </p>
    <img
      src="https://cdn.shopify.com/s/files/1/0722/2059/files/9_43cb2d99-6622-4f2d-a8ed-81732fcbd2d6.webp?v=1687506275&width=256"
      class="card-img-top"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">DR ENTERPRISES FARMER</h5>
      <p class="card-text">DR ENTERPRISES</p>
      <p>₹ 1599 <s> ₹ 2999</s></p>
      <p style="color: green">Saved Price ₹ 1400</p>
      <p>
        Size
        <button style="border-radius: 5px; background-color: white">
          11 UK(SB 4..)
        </button>
      </p>
    </div>
  </div>
  <div class="card">
    <p
      class="absolute left-0 top-0 bg-sfSecondaryColor rounded-br-[24px] text-[10px] sm:text-xs text-white px-3 py-1.5 border-radius"
    >
      17% OFF
    </p>
    <img
      src="https://cdn.shopify.com/s/files/1/0722/2059/files/Seminis-Huntington-Capsicum-Seeds-sw_grande_3113ef70-6308-4388-9c10-d65de884724a.webp?v=1682496039&width=256"
      class="card-img-top"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title.">HUNTINGTON CAPSICUM</h5>
      <p class="card-text">Seminis</p>
      <p>₹ 1675 <s> ₹ 2010</s></p>
      <p style="color: green">Saved Price ₹ 335</p>
      <p>
        Size
        <button style="border-radius: 5px; background-color: white">
          1500 seeds
        </button>
      </p>
    </div>
  </div>
</div>


<h2>Popular Product</h2>
<div class="row">
    <div class="card">
      <p
        class="absolute left-0 top-0 bg-sfSecondaryColor rounded-br-[24px] text-[10px] sm:text-xs text-white px-3 py-1.5 border-radius"
      >
        41% OFF
      </p>
      <img src="https://cdn.shopify.com/s/files/1/0722/2059/products/Roundup.jpg?v=1671198559&width=640" class="card-img-top" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Roundup Herbicide</h5>
                    <p class="card-text">Monsanto/p>
                   <p>₹ 628  <s>  ₹ 425</s></p>
                   <p style="color: green;">Saved Price ₹ 126</p>
                   <p>Size <button style="border-radius: 5px;background-color: white;">500 ml </button></p>
                </div>
    </div>
    <div class="card">
      <p
        class="absolute left-0 top-0 bg-sfSecondaryColor rounded-br-[24px] text-[10px] sm:text-xs text-white px-3 py-1.5 border-radius"
      >
        30% OFF
      </p>
      <img src="https://cdn.shopify.com/s/files/1/0722/2059/files/1_d1fd4710-cde7-4cbb-aaa0-f3b62da86ecd.webp?v=1689404260&width=256" class="card-img-top" alt="Card image cap">
      <div class="card-body">
          <h5 class="card-title">Glycel Herbicide</h5>
          <p class="card-text">Sumitomo</p>
          <p>₹ 1299  <s> ₹ 815</s></p>
          <p style="color: green;">Saved Price ₹ 351 </p>
          <p>Size <button style="border-radius: 5px;background-color: white;">1 ltr </button></p>
      </div>
    </div>
    <div class="card">
      <p
        class="absolute left-0 top-0 bg-sfSecondaryColor rounded-br-[24px] text-[10px] sm:text-xs text-white px-3 py-1.5 border-radius"
      >
        22% OFF
      </p>
      <img src="https://cdn.shopify.com/s/files/1/0722/2059/files/7_acc0c3e3-cdc8-4a84-bd36-e46750a9148b.webp?v=1689403931&width=256" class="card-img-top" alt="Card image cap">
      <div class="card-body">
          <h5 class="card-title">Biovita Liquid BioFertilizer</h5>
          <p class="card-text">PI Industries</p>
          <p>₹ 1599  <s> ₹ 371</s></p>
          <p style="color: green;">Saved Price ₹ 149 </p>
          <p>Size <button style="border-radius: 5px;background-color: white;">250 ml </button></p>
      </div>
    </div>
    <div class="card">
      <p
        class="absolute left-0 top-0 bg-sfSecondaryColor rounded-br-[24px] text-[10px] sm:text-xs text-white px-3 py-1.5 border-radius"
      >
        7% OFF
      </p>
      <img src="https://cdn.shopify.com/s/files/1/0722/2059/products/Saaf.webp?v=1680086906&width=256" class="card-img-top" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title.">Saaf Fungicide</h5>
                    <p class="card-text">UPL</p>
                    <p>₹ 1675  <s> ₹ 111</s></p>
                    <p style="color: green;">Saved Price ₹ 12 </p>
                    <p>Size <button style="border-radius: 5px;background-color: white;">100 gms</button></p>
                </div>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <p
        class="absolute left-0 top-0 bg-sfSecondaryColor rounded-br-[24px] text-[10px] sm:text-xs text-white px-3 py-1.5 border-radius"
      >
        25% OFF
      </p>
      <img src="https://cdn.shopify.com/s/files/1/0722/2059/files/9_534052a8-8b49-4cce-b4b2-573714ad1dfc.jpg?v=1721486238&width=256" class="card-img-top" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">No Virus Bio Viricide</h5>
                    <p class="card-text">Geolife Agritech India Pvt Ltd.</p>
                    <p>₹ 285  <s>  ₹ 700</s></p>
                  <p style="color: green;">Saved Price ₹ 415 </p>
                  <p>Size <button style="border-radius: 5px;background-color: white;">250 ml</button></p>
                </div>
    </div>
    <div class="card">
      <p
        class="absolute left-0 top-0 bg-sfSecondaryColor rounded-br-[24px] text-[10px] sm:text-xs text-white px-3 py-1.5 border-radius"
      >
        23% OFF
      </p>
      <img src="https://cdn.shopify.com/s/files/1/0722/2059/files/51qEL5iLZLL.jpg?v=1701150435&width=256" class="card-img-top" alt="Card image cap">
      <div class="card-body">
          <h5 class="card-title">Fantac Plus Growth Promoter</h5>
          <p class="card-text">Coromandel International</p>
          <p>₹ 255  <s>  ₹ 430</s></p>
        <p style="color: green;">Saved Price ₹ 175 </p>
        <p>Size <button style="border-radius: 5px;background-color: white;">100 ml</button></p>
      </div>
    </div>
    <div class="card">
      <p
        class="absolute left-0 top-0 bg-sfSecondaryColor rounded-br-[24px] text-[10px] sm:text-xs text-white px-3 py-1.5 border-radius"
      >
        41% OFF
      </p>
      <img src="https://cdn.shopify.com/s/files/1/0722/2059/files/simodis-test-img.webp?v=1696849354&width=256" class="card-img-top" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Simodis Insecticide</h5>
                    <p class="card-text">Syngenta</p>
                    <p>₹ 777  <s>  ₹ 999</s></p>
                  <p style="color: green;">Saved Price ₹ 222 </p>
                  <p>Size <button style="border-radius: 5px;background-color: white;">80 ml</button></p>
                </div>
    </div>
    <div class="card">
      <p
        class="absolute left-0 top-0 bg-sfSecondaryColor rounded-br-[24px] text-[10px] sm:text-xs text-white px-3 py-1.5 border-radius"
      >
        35% OFF
      </p>
      <img src="https://cdn.shopify.com/s/files/1/0722/2059/files/NewProduct_19.png?v=1689334193&width=256" class="card-img-top" alt="Card image cap">
      <div class="card-body">
          <h5 class="card-title">Isabion Biostimulant</h5>
          <p class="card-text">Syngenta</p>
          <p>₹ 166  <s>  ₹ 259</s></p>
        <p style="color: green;">Saved Price ₹ 93 </p>
        <p>Size <button style="border-radius: 5px;background-color: white;">100 ml</button></p>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="card">
      <p
        class="absolute left-0 top-0 bg-sfSecondaryColor rounded-br-[24px] text-[10px] sm:text-xs text-white px-3 py-1.5 border-radius"
      >
        25% OFF
      </p>
      <img src="https://cdn.shopify.com/s/files/1/0722/2059/files/5_3bb374db-b37b-4361-bd47-5caa39f32d76.png?v=1689404061&width=256" class="card-img-top" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Phoskill Insecticide</h5>
                    <p class="card-text">UPL</p>
                    <p>₹ 178  <s>  ₹ 238</s></p>
                  <p style="color: green;">Saved Price ₹ 60 </p>
                  <p>Size <button style="border-radius: 5px;background-color: white;">250 ml</button></p>
                </div>
    </div>
    <div class="card">
      <p
        class="absolute left-0 top-0 bg-sfSecondaryColor rounded-br-[24px] text-[10px] sm:text-xs text-white px-3 py-1.5 border-radius"
      >
        23% OFF
      </p>
      <img src="https://cdn.shopify.com/s/files/1/0722/2059/products/indofil.jpg?v=1680086309&width=256" class="card-img-top" alt="Card image cap">
      <div class="card-body">
          <h5 class="card-title">Indofill M-45 Fungicide</h5>
          <p class="card-text">Indofill</p>
          <p>₹ 141  <s>  ₹ 182</s></p>
        <p style="color: green;">Saved Price ₹ 41 </p>
        <p>Size <button style="border-radius: 5px;background-color: white;">250 gms</button></p>
      </div>
    </div>
    <div class="card">
      <p
        class="absolute left-0 top-0 bg-sfSecondaryColor rounded-br-[24px] text-[10px] sm:text-xs text-white px-3 py-1.5 border-radius"
      >
        41% OFF
      </p>
      <img src="https://cdn.shopify.com/s/files/1/0722/2059/products/1_4_0e1a9088-d5be-4092-94fa-e023e1a25fc8.webp?v=1671454530&width=256" class="card-img-top" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Nativo Fungicide</h5>
                    <p class="card-text">Bayer</p>
                    <p>₹ 106  <s>  ₹ 180</s></p>
                  <p style="color: green;">Saved Price ₹ 74 </p>
                  <p>Size <button style="border-radius: 5px;background-color: white;">100 gms</button></p>
                </div>
    </div>
    <div class="card">
      <p
        class="absolute left-0 top-0 bg-sfSecondaryColor rounded-br-[24px] text-[10px] sm:text-xs text-white px-3 py-1.5 border-radius"
      >
        35% OFF
      </p>
      <img src="https://cdn.shopify.com/s/files/1/0722/2059/products/Artboard1copy7-2.webp?v=1673947157&width=256" class="card-img-top" alt="Card image cap">
      <div class="card-body">
          <h5 class="card-title">Areva Insecticide</h5>
          <p class="card-text">Dhanuka</p>
          <p>₹ 140  <s>  ₹ 216</s></p>
        <p style="color: green;">Saved Price ₹ 76 </p>
        <p>Size <button style="border-radius: 5px;background-color: white;">100 gms</button></p>
      </div>
    </div>
  </div>



  
  <div class="row">
    <div class="card">
      <p
        class="absolute left-0 top-0 bg-sfSecondaryColor rounded-br-[24px] text-[10px] sm:text-xs text-white px-3 py-1.5 border-radius"
      >
        18% OFF
      </p>
      <img src="https://cdn.shopify.com/s/files/1/0722/2059/files/Untitleddesign_5_dff8e206-99b1-4d6b-95f1-3a809ae650f9.png?v=1726226524&width=256" class="card-img-top" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">SAGARIKA GOLD GROWTH</h5>
                    <p class="card-text">IFFCO</p>
                    <p>₹ 315  <s>  ₹ 385</s></p>
                  <p style="color: green;">Saved Price ₹ 70 </p>
                  <p>Size <button style="border-radius: 5px;background-color: white;">500 ml</button></p>
                </div>
    </div>
    <div class="card">
      <p
        class="absolute left-0 top-0 bg-sfSecondaryColor rounded-br-[24px] text-[10px] sm:text-xs text-white px-3 py-1.5 border-radius"
      >
        23% OFF
      </p>
      <img src="https://cdn.shopify.com/s/files/1/0722/2059/products/1_8_daa71b27-9e61-4778-b4b0-1ede8fec847a.webp?v=1671713835&width=256" class="card-img-top" alt="Card image cap">
      <div class="card-body">
          <h5 class="card-title">Solomon Insecticide</h5>
          <p class="card-text">Bayer</p>
          <p>₹ 345  <s>  ₹ 450</s></p>
        <p style="color: green;">Saved Price ₹ 105 </p>
        <p>Size <button style="border-radius: 5px;background-color: white;">100 ml</button></p>
      </div>
    </div>
    <div class="card">
      <p
        class="absolute left-0 top-0 bg-sfSecondaryColor rounded-br-[24px] text-[10px] sm:text-xs text-white px-3 py-1.5 border-radius"
      >
        19% OFF
      </p>
      <img src="https://cdn.shopify.com/s/files/1/0722/2059/files/4_a3d1ed20-e397-4f09-98f6-31bf2bba5a6a.webp?v=1689403842&width=256" class="card-img-top" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Planofix Plant Growth..</h5>
                    <p class="card-text">Bayer</p>
                    <p>₹ 122  <s>  ₹ 150</s></p>
                  <p style="color: green;">Saved Price ₹ 28 </p>
                  <p>Size <button style="border-radius: 5px;background-color: white;">100 ml</button></p>
                </div>
    </div>
    <div class="card">
      <p
        class="absolute left-0 top-0 bg-sfSecondaryColor rounded-br-[24px] text-[10px] sm:text-xs text-white px-3 py-1.5 border-radius"
      >
        27% OFF
      </p>
      <img src="https://cdn.shopify.com/s/files/1/0722/2059/files/Antracol.webp?v=1689228502&width=256" class="card-img-top" alt="Card image cap">
      <div class="card-body">
          <h5 class="card-title">Antracol Fungicide</h5>
          <p class="card-text">Bayer</p>
          <p>₹ 255  <s>  ₹ 350</s></p>
        <p style="color: green;">Saved Price ₹ 95 </p>
        <p>Size <button style="border-radius: 5px;background-color: white;">250 gms</button></p>
      </div>
    </div>
  </div>


  <div class="one">
    <div class="row">
      <div class="col">300+<br>Brands</div>
      <div class="col">20M+<br>Happy Farmers</div>
      <div class="col">5K+<br>Products</div>
      <div class="col">15K+<br>Pincodes Delivery</div>
    </div>