
<div class="main-bg">
    <h1></h1>
    <div class="container">
        <h1 class="text-center">Seed's</h1>
        <div class="d-flex flex-row justify-content-center">
            <div class="seeds-card">
            <div class="d-flex flex-row">
                <div>
                <img src="https://cdn.shopify.com/s/files/1/0722/2059/products/Sahoo.jpg?v=1671198625&width=256" class="seed-card-img">
            
                <h1>SAAHO TAMATO SEEDS</h1>
                <p>Sygenta</p>
                <div class="d-flex flex-row">
                <h6>{{ruppee|currency:'INR'}}</h6>
                <h6 class="text-secondary mx-2">{{orgRuppee|currency:'INR'}}</h6>
                </div>
                <i class="fa-solid fa-tag i-design"><span> saved price {{ruppee|currency:'INR'}} </span> </i>
                </div>
                <div>
                    <i class="fa-regular fa-heart"></i>
                </div>
            </div>
            
            </div> 
            <div class="seeds-card">
                <div class="d-flex flex-row">
                    <div>
                    <img src="https://cdn.shopify.com/s/files/1/0722/2059/products/Sahoo.jpg?v=1671198625&width=256" class="seed-card-img">
                
                    <h1>SAAHO TAMATO SEEDS</h1>
                    <p>Sygenta</p>
                    <div class="d-flex flex-row">
                    <h6>{{ruppee|currency:'INR'}}</h6>
                    <h6 class="text-secondary mx-2">{{orgRuppee|currency:'INR'}}</h6>
                    </div>
                    <i class="fa-solid fa-tag i-design"><span> saved price {{ruppee|currency:'INR'}} </span> </i>
                    </div>
                    <div>
                        <i class="fa-regular fa-heart"></i>
                    </div>
                </div>
                
                </div> 
                <div class="seeds-card">
                    <div class="d-flex flex-row">
                        <div>
                        <img src="https://cdn.shopify.com/s/files/1/0722/2059/products/Sahoo.jpg?v=1671198625&width=256" class="seed-card-img">
                    
                        <h1>SAAHO TAMATO SEEDS</h1>
                        <p>Sygenta</p>
                        <div class="d-flex flex-row">
                        <h6>{{ruppee|currency:'INR'}}</h6>
                        <h6 class="text-secondary mx-2">{{orgRuppee|currency:'INR'}}</h6>
                        </div>
                        <i class="fa-solid fa-tag i-design"><span> saved price {{ruppee|currency:'INR'}} </span> </i>
                        </div>
                        <div>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </div>
                    
                    </div> 
        </div>
    </div>
</div>
