<ng-container *ngIf="products.length < 1">
    <!-- Empty cart -->
    <div class="container">
      <div class="card-empty">
        <h3 class="card-title">Cart</h3>
      </div>
      <div class="center">
        <img
          src=" https://cdni.iconscout.com/illustration/free/thumb/free-empty-cart-illustration-download-in-svg-png-gif-file-formats--is-explore-box-states-pack-design-development-illustrations-3385483.png?f=webp"
        />
        <h4>Cart is empty</h4>
        <h6>Add items now</h6>
        <button class="btn btn-primary" routerLink="">Shop Now</button>
      </div>
    </div>
  </ng-container>


<div class="container mt-3 mb-3">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10">
            <div class="row p-2 bg-white border rounded" *ngFor="let p of products; let i = index" style="margin-bottom: 10px;">
                <div class="col-md-1 mt-1"><img class="img-fluid img-responsive rounded product-image" src="{{p.image}}"></div>
                <div class="col-md-8 mt-1">
                    <h5>{{p.title}}</h5>
                    <div class="d-flex flex-row">
                        <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>310</span>
                    </div>
                    <div class="mt-1 mb-1 spec-1">{{p.category}}</div>
                    <p class="text-justify text-truncate para mb-0">{{p.description}}<br><br></p>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    <div class="d-flex flex-row align-items-center">
                        <h4 class="mr-1">{{p.price}}</h4>
                    </div>
                    
                    <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button">Details</button><button class="btn btn-danger btn-sm mt-2" type="button" >Remove</button></div>
                </div>
            </div>
            <div class="row p-2 bg-white border rounded mt-2">
                <div class="col-md-1 mt-1"><img class="img-fluid img-responsive rounded product-image" src="https://cdn.shopify.com/s/files/1/0722/2059/products/Artboard9_1.webp?v=1673267811&width=256"></div>
                <div class="col-md-8 mt-1">
                    <h5>Oxykill Herbicide</h5>
                    <div class="d-flex flex-row">
                        <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>310</span>
                    </div>
                    <div class="mt-1 mb-1 spec-1">Atrazine 50% WP</div>
                    <div class="mt-1 mb-1 spec-1">Atranex is suitable for selective weed control in maize & Sugarcane</div>
                    <p class="text-justify text-truncate para mb-0">Atranex is a herbicide of the triazine group used for pre emergence control of a wide spectrum of annual grass and broad leaf weeds .<br><br></p>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    <div class="d-flex flex-row align-items-center">
                        <h4 class="mr-1">$14.99</h4>
                    </div>
                    <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button">Details</button><button class="btn btn-danger btn-sm mt-2" type="button" >Remove</button></div>
                </div>
            </div>
            <div class="row p-2 bg-white border rounded mt-2">
                <div class="col-md-1 mt-1"><img class="img-fluid img-responsive rounded product-image" src="https://cdn.shopify.com/s/files/1/0722/2059/products/ALMIX-HERBICIDE.jpg?v=1601729644&width=256"></div>
                <div class="col-md-8 mt-1">
                    <h5>ALMIX HERBICIDE</h5>
                    <div class="d-flex flex-row">
                        <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>123</span>
                    </div>
                    <div class="mt-1 mb-1 spec-1">Atrazine 50% WP</div>
                    <div class="mt-1 mb-1 spec-1">Atranex is suitable for selective weed control in maize & Sugarcane</div>
                    <p class="text-justify text-truncate para mb-0">Atranex is a herbicide of the triazine group used for pre emergence control of a wide spectrum of annual grass and broad leaf weeds .<br><br></p>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    <div class="d-flex flex-row align-items-center">
                        <h4 class="mr-1">$13.99</h4>
                    </div>
                    <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button">Details</button><button class="btn btn-danger btn-sm mt-2" type="button" >Remove</button></div>
                </div>
            </div>
            <div class="row p-2 bg-white border rounded mt-2">
                <div class="col-md-1 mt-1"><img class="img-fluid img-responsive rounded product-image" src="https://cdn.shopify.com/s/files/1/0722/2059/files/Artboard1_1_d67bf83d-d8c6-4dc2-b11a-997ec48d0257.jpg?v=1725360801&width=256"></div>
                <div class="col-md-8 mt-1">
                    <h5>ATRANEX HERBICIDE</h5>
                    <div class="d-flex flex-row">
                        <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>110</span>
                    </div>
                    <div class="mt-1 mb-1 spec-1">Atrazine 50% WP</div>
                    <div class="mt-1 mb-1 spec-1">Atranex is suitable for selective weed control in maize & Sugarcane</div>
                    <p class="text-justify text-truncate para mb-0">Atranex is a herbicide of the triazine group used for pre emergence control of a wide spectrum of annual grass and broad leaf weeds .<br><br></p>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    <div class="d-flex flex-row align-items-center">
                        <h4 class="mr-1">$15.99</h4>
                    </div>
                    <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button">Details</button><button class="btn btn-danger btn-sm mt-2" type="button" >Remove</button></div>
                </div>
            </div> 
        </div>
    </div>  
</div>



        

