<!-- Remove the container if you want to extend the Footer to full width. -->
<div  >

  <footer style="background-color: #eee6d3;">
    <div >
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4">
          <a><img src="https://agromart.uz/_nuxt/img/logo.5746f9a.png" width="140px" alt="logo"></a><br><br>
         
      <p>Agromart is one of the largest and innovative Indian full-stack AgriTech platforms that is dedicated to revolutionizing the agricultural industry in India. The platform leverages technology to provide a wide range of solutions and services to farmers, helping them optimize their agricultural practices, increase productivity, and ultimately improve their livelihoods.</p>

      <p>
          By integrating technology, data-driven insights, and a deep understanding of the agriculture sector, BigHaat aims to improve the overall agricultural ecosystem, increase farm yields, reduce input costs, and enhance the well-being of farmers across India. The platform plays a pivotal role in bridging the gap between technology and agriculture, ultimately contributing to the growth and sustainability of the agricultural sector.
      </p>
      <h5  class="text-lg font-light text-mediumGreen" style="color:mediumseagreen;">Download Mobile App</h5>
      <a><img src="https://www.bighaat.com/_next/image?url=%2Fimages%2Ficons%2Ffooter-app-download-qr.png&w=128&q=75" style="width: 120px;" alt="scanner"></a><br><br>
      <div class=" d-flex image">
      <a><img src="https://www.bighaat.com/_next/image?url=%2Fimages%2Ficons%2Finstagram-icon.png&w=48&q=75" style="width: 30px; "  alt="insta"></a>&nbsp;
      <a><img src="https://www.bighaat.com/_next/image?url=%2Fimages%2Ficons%2Ffb-icon.png&w=48&q=75" style="width: 30px;"  alt="facebook"></a>&nbsp;
      <a><img src="https://www.bighaat.com/_next/image?url=%2Fimages%2Ficons%2Fyoutube-icon.png&w=48&q=75" style="width: 30px;"  alt="youtube"></a> &nbsp;   
          <a><img src="https://www.bighaat.com/_next/image?url=%2Fimages%2Ficons%2Flin-icon.png&w=48&q=75" style="width: 30px;" alt="linkedin"></a>
        </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 links">
          <h5 class="text-lg font-light text-mediumGreen " style="color:mediumseagreen;">Quick Links</h5>
          <ul class="list-unstyled mb-0">
            <li class="mb-1">
              <a >About Us</a>
            </li>
            <li class="mb-1">
              <a  >Reach Us</a>
            </li>
            <li class="mb-1">
              <a >Terms of Service</a>
            </li>
            <li>
              <a>Careers</a>
            </li>
            <li>
              <a>Shipping/Delivery Policy</a>
            </li>
            <li>
              <a>FAQ</a>
            </li>
            <li>
              <a>Media Links</a>
            </li>
            <li>
              <a>Privacy Policy</a>
            </li>
            <li>
              <a>Return & Refund Policy</a>
            </li>
            <li>
              <a>Site Map</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 contacts">
          <h5 class="text-lg font-light text-mediumGreen " style="color:mediumseagreen;">Contact Us</h5>
          <p>Missed call to order : </p>
      <button class="nbtn"><a href="tel:+911800-3000-2434">1800-3000-2434</a></button><br><br>
      <p>Whatsapp : </p>
      <button class="nbtn"><a href="tel:+918050797979">+91 8050797979</a></button>
        </div>
      </div>
    </div>
    <div class="text-center p-3" >
      Copyright © 2024 BigHaat Agro Private Limited
     
    </div>
    <!-- Copyright -->
  </footer>
  
</div>
<!-- End of .container -->