
<section class="py-5 section">
  <div class="container">
    <div class="row gx-5">
      <ng-container *ngFor="let p of products">
        <div class="col-md-6 mb-4">
          <div class="card border rounded-4 shadow-sm">
            <div id="carouselExampleSlides{{p.id}}" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner" >
              <ng-container *ngFor="let image of p.image; let i = index">
                  <div class="carousel-item" [ngClass]="{'active': i === 0}">
                    <img src="{{product.image}}" class="d-block w-100" alt="Product Image">
                  </div>
                </ng-container>
                <!-- Add more carousel items as needed -->
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <div class="card-body">
              <h4 class="card-title">{{p.name}}</h4>
              <div class="d-flex align-items-center my-2">
                <div class="text-warning me-2">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                  <span class="ms-1">{{p.rating}}</span>
                </div>
                <span class="text-muted"><i class="fas fa-shopping-basket fa-sm mx-1"></i>154 orders</span>
                <span class="text-success ms-2">In stock</span>
              </div>
              <div class="mb-3">
                <span class="h5">{{p.actual_price}}</span>
                <span class="text-muted">/per box</span>
              </div>
              <p>{{p.description}}</p>
              <hr>
              <div class="row mb-4">
                <div class="col-6">
                  <label class="mb-2">Size</label>
                  <select class="form-select">
                    <option>Small</option>
                    <option>Medium</option>
                    <option>Large</option>
                  </select>
                </div>
                <div class="col-6">
                  <label class="mb-2 d-block">Quantity</label>
                  <div class="input-group">
                    <button class="btn btn-light border" type="button">
                      <i class="fas fa-minus"></i>
                    </button>
                    <input type="text" class="form-control text-center" placeholder="1" aria-label="Quantity" />
                    <button class="btn btn-light border" type="button">
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="d-flex">
                <a href="#" class="btn btn-warning me-2">Buy now</a>
                <a href="#" class="btn btn-primary me-2">
                  <i class="fa fa-shopping-basket"></i> Add to cart
                </a>
                <a href="#" class="btn btn-light border">
                  <i class="fa fa-heart"></i> Save
                </a>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>





