<!-- Top header -->

<div class="topnav header text-white fixed">
  <div class="topnav-right">
    <a>Sell on Agromart |</a>
    <a>Bulk Order Inquiries |</a>
    <a>Corporete Site |</a>
    <a class="data" href="tel:+911800-3000-2434">Missed call to order:1800-3000-2434</a>
  </div>
</div>

<!-- Logo and navbar With icons -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid d-flex align-items-center">
      <!-- Logo -->
      <a class="navbar-brand d-flex" href="#">
        <img src="https://agromart.uz/_nuxt/img/logo.5746f9a.png" width="140px" alt="Logo" class="d-inline-block align-text-top">  
          </a>

      <!-- Toggoler Button -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Search Box -->
      <!-- <form class="d-flex" role="search">
          <input class="form-control" type="search" placeholder="Search..." aria-label="Search">
          <button class="btn1 btn-warning" type="submit">Search</button>
      </form> -->
      <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn1 btn-warning" type="submit">Search</button>
        </form>


      <!-- Buttons (hindi,English) -->
      <div class="d-flex">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

          <button class="btn3 btn-secondary me-2">हिन्दी</button>
          <button class="btn2 btn-secondary me-5 " type="button">English</button>
          
        <!--Bootstrap Icons for track order,whislist,login,cart -->

          <div class="collapse navbar-collapse btn4" id="navbarTogglerDemo02">
          <a href="#" class="btn4 btn-light nav-link" routerLink="/trackorder">
            <i class="fas fa-light fa-truck icon2">&nbsp;&nbsp;</i>Track Order
          </a>&nbsp;&nbsp;
          <a href="#" class="btn4 btn-light nav-link" routerLink="/wishlist">
            <i class="fas fa-thin fa-heart icon3">&nbsp;&nbsp;</i>Whishlist
          </a>&nbsp;&nbsp;
            <a href="#"  class="btn4 btn-light nav-link" routerLink="/login">
              <i class="fas fa-light fa-user icon4">&nbsp;&nbsp;</i>Login
            </a>&nbsp;&nbsp;   
              <a href="#" class="btn4 btn-light nav-link" routerLink="/cart">
                <i class="fas fa-regular fa-cart-shopping icon5">&nbsp;&nbsp;</i>Cart
              </a> 
              
      </div>
  </div>
  </div>
</div>
</nav>