<section class="vh-100" style="background-color: whitesmoke">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <p><span class="h2">Orders</span></p>

        <div class="card mb-1">
          <div class="card-body p-2">

            <div class="row align-items-center">
              <div class="col-md-1">
                <img src="https://cdn.shopify.com/s/files/1/0722/2059/products/Artboard1copy7-2_1_1.webp?v=1674458437&width=256"
                  class="img-fluid" alt="Generic placeholder image">
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Name</p>
                  <p class="lead fw-normal mb-0">Metri Herbicide</p>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Quantity</p>
                  <p class="lead fw-normal mb-0">1</p>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Price</p>
                  <p class="lead fw-normal mb-0">$799</p>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Total</p>
                  <p class="lead fw-normal mb-0">$799</p>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div >
                  <p class="small text-muted mb-4 pb-2">action</p>
                  <button class="d-flex justify-content-end" type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg">Details</button>
                </div>
              </div>
            </div>

          </div>
        </div>


        
        <div class="card mb-1">
          <div class="card-body p-2">

            <div class="row align-items-center">
              <div class="col-md-1">
                <img src="https://cdn.shopify.com/s/files/1/0722/2059/products/Roundup.jpg?v=1671198559&width=256"
                  class="img-fluid" alt="Generic placeholder image">
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Name</p>
                  <p class="lead fw-normal mb-0">Roundup Herbicide</p>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Quantity</p>
                  <p class="lead fw-normal mb-0">1</p>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Price</p>
                  <p class="lead fw-normal mb-0">$1799</p>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Total</p>
                  <p class="lead fw-normal mb-0">$1799</p>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div >
                  <p class="small text-muted mb-4 pb-2">action</p>
                  <button class="d-flex justify-content-end" type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"> Details</button>
                </div>
              </div>
            </div>

          </div>
        </div>





        
        <div class="card mb-1">
          <div class="card-body p-2">

            <div class="row align-items-center">
              <div class="col-md-1">
                <img src="https://cdn.shopify.com/s/files/1/0722/2059/files/1_d1fd4710-cde7-4cbb-aaa0-f3b62da86ecd.webp?v=1689404260&width=256"
                  class="img-fluid" alt="Generic placeholder image">
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Name</p>
                  <p class="lead fw-normal mb-0">Glycel Herbicide</p>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Quantity</p>
                  <p class="lead fw-normal mb-0">1</p>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Price</p>
                  <p class="lead fw-normal mb-0">$319</p>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Total</p>
                  <p class="lead fw-normal mb-0">$319</p>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div >
                  <p class="small text-muted mb-4 pb-2">action</p>
                  <button class="d-flex justify-content-end" type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg" >Details</button>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="card mb-5">
          <div class="card-body p-4">

            <div class="float-end">
              <p class="mb-0 me-5 d-flex align-items-center">
                <span class="small text-muted me-2">Order total:</span> <span
                  class="lead fw-normal">$799</span>
              </p>
            </div>

          </div>
        </div>

        <div class="d-flex justify-content-end">
          <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-light btn-lg me-2">Continue shopping</button>
          <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg " routerLink="/cart">Add to cart</button>
        </div>

      </div>
    </div>
  </div>
</section>