  <div class="container-xl px-4 mt-4">
<nav class="nav nav-borders">
      <a class="nav-link active ms-0" href="https://www.bootdey.com/snippets/view/bs5-edit-profile-account-details" target="__blank">Profile</a>
  </nav>
  <hr class="mt-0 mb-4">
  <div class="row">
      <div class="col-xl-4">         
          <div class="card mb-4 mb-xl-0">
              <div class="card-header">Profile Picture</div>
              <div class="card-body text-center">                  
                  <img class="img-account-profile  mb-2 rounded-circle" style="width: 10rem; height: 12rem;"  src="https://i2.pickpik.com/photos/711/14/431/smile-profile-face-male-preview.jpg" alt="">                
                  <div class="small font-italic text-muted mb-4"><strong>Name</strong></div>        
              </div>
          </div>
      </div>
      <div class="col-xl-8">
                   <div class="card mb-4">
              <div class="card-header" >
                  <div>
                      Profile Details
                  </div>
                  <div class="icon-container">
                      <a class="fa-solid fa-pen-to-square" style="color: black;" routerLink="/profileupdate"></a>
                  </div>
              </div>            
              <div class="card-body">
                  <form>                    
                      <div class="mb-3">
                          <label class="small mb-1" ><strong>Id :</strong></label>    
                      </div>                    
                      <div class="row gx-3 mb-3">                         
                          <div class="col-md-3">
                              <label class="small mb-1" ><strong>Name :</strong></label>
                          </div>                        
                      </div>
                      <div class="row gx-3 mb-3">                         
                          <div class="col-md-3">
                              <label class="small mb-1" ><strong>Gender :</strong></label>                        
                              </div>
                      </div>                     
                      <div class="mb-3">
                          <label class="small mb-1" for="inputEmailAddress"><strong>Email :</strong></label>
                      </div>                     
                      <div class="row gx-3 mb-3">                        
                          <div class="col-md-6">
                              <label class="small mb-1" for="inputPhone"><strong>Phone number :</strong></label>
                          </div>  
                      </div>                    
                      <div class="row gx-3 mb-3">
                          <div class="col-md-6">
                              <label class="small mb-1" for="inputPhone"><strong>Address :</strong></label>
                          </div>  
                      </div>
                      <div class="row gx-3 mb-3">
                          <div class="col-md-6">
                              <label class="small mb-1" for="inputPhone"><strong>Pincode :</strong></label>
                          </div>  
                      </div>  
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>

 


  
  
  