<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="https://agromart.uz/_nuxt/img/logo.5746f9a.png" alt="">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">About </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Our Business</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Our Team</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="#">Investor Relations</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Careers</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Contact Us</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Agri Store</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Kisan Vedika</a>
            </li>
        </ul>
      </div>
    </nav>
  
    <!-- sliders -->
  
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="	https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgoQ11K7nWmjUvjpCcTYXA56tL-KMzzUTP5w&s" alt="First slide" style="max-width:1500px;
          height: 350px;
          margin: 0px;">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="	data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD…EiRUKzSTpDMSXiuu4mZhchj0j2OjVxQWBmoMdHR0KkKz/2Q==" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="" alt="Third slide"style="max-width:1500px;
          height: 350px;
          margin: 0px;" >
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  
    <div style="margin-top: 40px; margin-left: 120px;">
      <h1 style="color: green; font-size: x-large;">Our mission, vision, DNA</h1>
    </div>
  
    <!-- cards -->
  
  
     <div class="container mt-5">
      <div class="row">
        <div class="col-md-4 mb-3"> <!-- Adjust the column size as needed -->
          <div class="card text-center">
            <img src="https://cdn-icons-png.flaticon.com/128/4072/4072536.png" class="card-img-top" alt="Mission" style="margin-left: 180px; margin-top: 30px;">
            <div class="card-body">
              <h5 class="card-title">MISSION</h5>
              <p class="card-text">Transforming The Future Of Farmers By Leveraging Science, Data, and Technology</p>
            </div>
          </div>
        </div>
    
        <div class="col-md-4 mb-3">
          <div class="card text-center">
            <img src="https://static-00.iconduck.com/assets.00/checkbox-icon-512x512-yn06nq13.png" class="card-img-top" alt="Vision" style="margin-left: 180px; margin-top: 30px; height: 80px;">
            <div class="card-body">
              <h5 class="card-title">VISION</h5>
              <p class="card-text">To Be An Iconic Global Digital Agriculture Ecosystem</p>
            </div>
          </div>
        </div>
    
        <div class="col-md-4 mb-3">
          <div class="card text-center">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWfCsSpnXPcQyCWwnRAq7251XdS31PD7xWmg&s" class="card-img-top" alt="DNA" style="margin-left: 180px; margin-top: 30px; height: 80px;">
            <div class="card-body">
              <h5 class="card-title">DNA</h5>
              <p class="card-text">Always Staying Humble And Delivering Excellence</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  
    <h2 style="margin-left: 120px; color: green; font-size: x-large;">Core values that BigHaat lives by</h2>
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-4 mb-4">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkqATHlou5xs3l97BfQVp5eVMHgGQNzuq0vw&s" alt="" style="width: 100px; height: 100px;">
          <h3  style="font-size: x-large;">Think Big</h3>
  
          <p>
            We constantly challenge our ideas in order to meet the dynamic needs of our customers with unrivaled vision, innovation, and execution. Devising new solutions to old problems.
          </p>
          <h4>A 100x mindset.</h4>
        </div>
    
        <div class="col-md-4 mb-4">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSu-cSJ5fiebV4Ik2Sg2Adn4gMNZX7zeHclw&s" alt="" style="width: 100px; height: 100px;">
          <h3 style="font-size: x-large;">Customer First</h3>
         
          <p>
            We strive to deliver supreme customer experience at every step of their journey, empowering them with the right set of agricultural know-how.
          </p>
          <h4>Customer is Core.</h4>
        </div>
    
        <div class="col-md-4 mb-4">
         
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJyKwVhECnmXIr0SPn1PzUcmKoamYDCVuH-A&s" alt="" style="width: 100px; height: 100px;">
          <h3  style="font-size: x-large;">Act with Integrity</h3>
          <p>
            We perform in the interest of the organization and customers with absolute honesty, transparency, trustworthiness, and commitment.
          </p>
          <h4>Do what is right and take pride in what we do.</h4>
        </div>
      </div>
    </div>
  
    <img src="https://agromart.uz/_nuxt/img/logo.5746f9a.png" alt="" style="margin-left: 600px; height: 200px; width: 200px;">
  
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-4 mb-4">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSsu22vzWW-A_BQXzyClpUS5Ym_apSS6Mz5g&s" alt=""  style="width: 100px; height: 100px;">
          <h3  style="font-size: x-large;">Team on a Mission</h3>
  
          <p>
            We constantly challenge our ideas in order to meet the dynamic needs of our customers with unrivaled vision, innovation, and execution. Devising new solutions to old problems.
          </p>
          <h4>A 100x mindset.</h4>
        </div>
    
        <div class="col-md-4 mb-4">
          <img src="	https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMTiLYRvW-uD3Dq8FavxkxQZDezAlsFYSHXA&s" alt=""  style="width: 100px; height: 100px;">
          <h3  style="font-size: x-large;">Excellence in Execution</h3>
        
          <p>
            We strive to deliver supreme customer experience at every step of their journey, empowering them with the right set of agricultural know-how.
          </p>
          <h4>Customer is Core.</h4>
        </div>
    
        <div class="col-md-4 mb-4">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQv0DXBxUkeyIswdt6p2pt1Pi455cz1e7nm_Q&s" alt=""  style="width: 100px; height: 100px;">
          <h3 style=" font-size: x-large;" >Accountability</h3>
          
          <p>
            We perform in the interest of the organization and customers with absolute honesty, transparency, trustworthiness, and commitment.
          </p>
          <h4>Do what is right and take pride in what we do.</h4>
        </div>
      </div>
    </div>
  
  
  <div>
    <h1>Agromart's business verticals</h1>
   
  </div>
  
  
    <div style="background-color: lightcyan;">
      <h1 style="color: blue; font-size: x-large;">Offering farmers the right information, agri-products, and market support</h1>
      <div style="display: flex; justify-content: space-between;">
        <div style="flex: 1; margin: 10px;">
            <h3 style="color: blue;">LEARN</h3>
            <p>Tailored professional guidance to farmers considering soil type,weather condition,and geography</p>
        </div>
        <div style="flex: 1; margin: 10px;">
            <h3 style="color: blue;">PROCURE</h3>
            <p>A broad range of top-quality agri-products,including seeds,pesticides,tools&equipment,to boost farm efficiencies.</p>
        </div>
        <div style="flex: 1; margin: 10px;">
            <h3 style="color: blue;">HARVEST</h3>
            <p>Improve the quality of farm produce with expert technical assistance in the farmer's native language</p>
        </div>
        <div style="flex: 1; margin: 10px;">
            <h3 style="color: blue;">THRIVE</h3>
            <p>By partnering with diverse market players,we give farmers a platform to sell their commodities and get a fair price realisation.</p>
        </div>
    </div>
    
    </div>
  
    <div>
      <h1 style="color: crimson;">Corporate strategies</h1>
      <p>With a farmer’s first initiative, we are committed to bringing constant evolution and are open to new avenues that are in the best interest of our farmers and stakeholders.
  
      </p>
  
      <ol style="font-size: large;">
        <li>Diverse Growth Models</li>
        <li> Ever-Evolving Business Verticals</li>
        <li>Evaluate and Handhold each vertical to enhance profitability</li>
        <li> Prioritise industry standards throughout the operation</li>
        <li> Establish strong leadership to strengthen the roots of our organization</li>
        <li>Continuous optimization of strategies, events, SOPs, and processes</li>
      </ol>
    </div>
  
  
    <!-- footer -->
  
    <div style="background-color: lightcyan;">
     
      <div style="display: flex; justify-content: space-between;">
        <div style="flex: 1; margin: 10px;">
            
          <h3 style="color: blue;">Our Locations</h3>
          <h2 style="display: flex; gap: 10px; color:blue;"><i class="fa-duotone fa-solid fa-location-dot"></i>Bengaluru</h2>
            <p>Corporate Office
              BigHaat Agro Pvt Ltd<br>
              19/2, SKR Tower<br>
              15th Cross<br>
              4th Phase, JP <br>Nagar<br>
              Dollars Layout<br>
              Bengaluru- 560078
              Ph - +91 8050797979</p>
        </div>
        <div style="flex: 1;margin-top: 50px;">
          <h1 style="display: flex; gap: 10px; color:blue; "><i class="fa-duotone fa-solid fa-location-dot"></i>Hyderabad</h1>
            <p>Hyderabad Office
              BigHaat Agro Pvt Ltd<br>
              Plot no 44, 5th<br> Floor
              Jayabheri <br>Enclave Phase 2
              Behind The <br>Patina Mall
              Gachibowli <br>Hyderabad - 500032</p>
        </div>
        <div style="flex: 1;margin-top: 10px;">
            <h2>Email Us</h2>
            <p style="color:blue;"><i class="fa-solid fa-envelope"></i>  info@agromart.com</p>
  
            
            <h2>Connect with Us</h2>
            <span style="display: flex; gap: 20px; width: 70px; height: 70px;"><i class="fa-brands fa-facebook"></i><i class="fa-brands fa-youtube"></i><i class="fa-brands fa-whatsapp"></i><i class="fa-brands fa-instagram"></i></span>
        </div>
        <div style="flex: 1; margin: 10px;">
            <h2>Other</h2>
            <ul>
              <li>About</li>
              <li>Our Team</li>
              <li>Investor Relations</li>
              <li>Careers</li>
              <li>Contact Us</li>
              <li>Agri Store</li>
              <li>Kisan Vedika</li>
            </ul>
        </div>
    </div>
    
    </div>