<ng-container *ngIf="true">
  <div class="cart-top">
    <div class="container d-flex">
      <div class="text-center">
     
        <a>
          <img
            src="https://bighaat-prodv2-media-cdn.azureedge.net/wsfbanners/9b41e29e-ed9c-4b20-9d48-b2b3870d39d5.webp"
            style="width: 420px; height: 300px"
          />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
        </a>
      </div>

      <div class="items">
        <a>
          <img
            src="https://bighaat-prodv2-media-cdn.azureedge.net/wsfbanners/fb6a1dd1-753f-4563-870f-cf91ff61ee95.webp"
            style="width: 430px; height: 300px"
          />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </a>
      </div>

      <div class="items">
        <a>
          <img
            src="https://bighaat-prodv2-media-cdn.azureedge.net/wsfbanners/acd4ab99-9aae-4f21-bea4-fb08f590dde9.webp "
            style="width: 420px; height: 300px"
          />&nbsp;&nbsp;&nbsp;&nbsp;<br /><br />
        </a>
      
    </div>
  </div>
  </div> </ng-container>
<br /><br />



<h2 class="font-normal text-xl md:text-6xl text-black">Sprayers</h2>

<!-- 
<div class="container"> -->
<!-- <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem">
        <span class="discount">-25%</span>
        <p
          class="absolute left-0 top-0 bg-sfSecondaryColor rounded-br-[24px] text-[10px] sm:text-xs text-white px-3 py-1.5"
        >
          30% OFF
        </p>
        <span class="wishlist"><i class="fa fa-heart-o"></i></span>

        <img
          src="https://cdn.shopify.com/s/files/1/0722/2059/files/1_2489a9ef-d924-4979-9dcd-83a394face29.webp?v=1684479981&width=256"
          class="card-img-top"
          alt="..."
        />

        <h5
          class="line-clamp-1 text-sm font-medium text-black"
          tooltip="BALWAAN BS-20 KRISHI SINGLE MOTOR BATTERY SPRAYER| 12X8"
        >
          BALWAAN BS-20 KRISHI SINGLE MOTOR BATTERY SPRAYER| 12X8
        </h5>
        <h6 class="line-clamp-1 text-xs font-normal text-disableText">
          Modish Tractoraurkisan Pvt Ltd
        </h6>
        <div class="flex flex-row items-center">
          <div class="flex flex-row items-center mt-2">
            <p class="text-base font-normal text-black">₹3500</p>
            <p class="text-sm font-normal text-disableText line-through ms-2">
              ₹ 5000
            </p>
          </div>
        </div>
        <button class="btn btn-success">Buy</button>
      </div>
    </div> -->

<!-- <div class="col">
      <div class="card" style="width: 18rem">
        <div class="badge">26%off</div>
        <span class="wishlist"><i class="fa fa-heart-o"></i></span>

        <img
          src="https://cdn.shopify.com/s/files/1/0722/2059/files/1_2489a9ef-d924-4979-9dcd-83a394face29.webp?v=1684479981&width=256"
          class="card-img-top"
          alt="..."
        />
        <h5>
         
        
          BALWAAN BS-20 KRISHI SINGLE MOTOR BATTERY SPRAYER| 12X8</h5>
          <p>Modish Tractoraurkisan Pvt Ltd</p>
          <div class="product-bottom-details">
            <div class="product-price"><small>5000</small>$3500</div>
            <div class="dropdown">  Size  
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
          1 unit
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <li><button class="dropdown-item" type="button">Action</button></li>
          <li><button class="dropdown-item" type="button">Another action</button></li>
          <li><button class="dropdown-item" type="button">Something else here</button></li>
        </ul>
      </div>
      
      </div> -->

<!-- <div class="col">
      <div class="card" style="width: 18rem">
        <span class="discount">-25%</span>
        <span class="wishlist"><i class="fa fa-heart-o"></i></span>

        <img
          src="https://cdn.shopify.com/s/files/1/0722/2059/files/TAPASPAHALWAAN-101SINGLEMOTORBATTERYSPRAYER-12X8_PAGE-1.jpg?v=1711095110&width=256"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <div class="d-flex flex-column mb-2">
            <small class="old-price text-right">3500</small>
          </div>

          <span class="buy">BUY +</span>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem">
        <span class="discount">-25%</span>
        <span class="wishlist"><i class="fa fa-heart-o"></i></span>

        <img
          src="https://cdn.shopify.com/s/files/1/0722/2059/files/21316a1d-0fa0-44a9-afc2-def6bd0d5ee4.jpg?v=1708413777&width=256"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <div class="d-flex flex-column mb-2">
            <small class="old-price text-right">3500</small>
          </div>

          <span class="buy">BUY +</span>
        </div>
      </div>
    </div> -->

<!-- <div class="container mt-4">
      <div class="row">
        <div class="col-md-4 mb-4" *ngFor="let product of products">
          <div class="card">
            <img [src]="product.imageUrl" style="width: 300px;height: 250px;" class="card-img-top" alt="{{ product.name }}">
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text">{{ product.description }}</p>
              <p class="card-text"><strong>\${{ product.price.toFixed(2) }}</strong></p>
              <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
        </div>
      </div>
    </div> -->

<!-- <div class="container mt-5">


    	<div class="row">

    		<div class="col-md-3">



    				<div class="card">

    					<div class="image-container">

    						<div class="first">
    							
    							<div class="d-flex justify-content-between align-items-center">

    							<span class="discount">-25%</span>
    							<span class="wishlist"><i class="fa fa-heart-o"></i></span>
    							

    						    </div>
    						</div>

    						<img src="https://cdn.shopify.com/s/files/1/0722/2059/products/1_01aafc8a-9703-4a0a-bd31-ec68c9606248.jpg?v=1680694282&width=256" class="img-fluid rounded thumbnail-image">
    						
                <div class="product-detail-container p-2">

    							<div class="d-flex justify-content-between align-items-center">

    								<h5 class="dress-name">BALWAAN BS-20 KRISHI SINGLE MOTOR BATTERY</h5>

    								<div class="d-flex flex-column mb-2">

    									
    									<small class="old-price text-right">3500</small>
    								</div>

    							</div>
                  
    							<div class="d-flex justify-content-between align-items-center pt-1">

    								<div class="color-select d-flex ">

    									<input type="button" name="grey" class="btn creme">
    									<input type="button" name="red" class="btn red ml-2">
    									<input type="button" name="blue" class="btn blue ml-2">

    								</div>
                    <div class="d-flex justify-content-between align-items-center pt-1">
                      <div>
                        <i class="fa fa-star-o rating-star"></i>
                       
                      </div>
  
                      <span class="buy">BUY +</span>
                      
                    </div>
                  
                  
  
                </div>
                
    							</div> -->

<!-- <div class="container card-list">
    <div class="card-list">
      <div class="items">
        <a>
          <img
            src="https://www.bighaat.com/_next/image?url=https%3A%2F%2Fbighaat-prodv2-media-cdn.azureedge.net%2Ftrustmarkers%2Ftm_home_2_page_v2.webp&w=1200&q=75"
          />
        </a>
      </div>
    </div>
  </div> -->
<!-- </div> -->
<!-- <div class="bg-[#e3fae8] w-full xl:px-4 mb-0.5">
    <div class="w-full xl:w-[1200px] mx-auto flex flex-row items-center">
      <img
        alt="Trust markers home banner1"
        loading="lazy"
        width="1200"
        height="140"
        decoding="async"
        data-nimg="1"
        class="w-full h-full"
        style="color: transparent; aspect-ratio: 9.090909090909092"

        
        src="https://www.bighaat.com/_next/image?url=https%3A%2F%2Fbighaat-prodv2-media-cdn.azureedge.net%2Ftrustmarkers%2Ftm_home_2_page_v2.webp&w=1200&q=75"
      />
    </div>
  </div> -->

<!-- <div class="container">
  <div class="row">
      <ng-container *ngFor="let product of products">
      <div class="card shadow-sm ">
          <img src="https://www.bighaat.com/_next/image?url=https%3A%2F%2Fbighaat-prodv2-media-cdn.azureedge.net%2Ftrustmarkers%2Ftm_home_2_V2_web.jpg&w=1200&q=75">
           <img src="{{product.image}}" alt="{{product.title}}">
  <h5 class="item-data">{{product.title}}</h5>
          <p class="item-data">{{product.description}}</p>
          <p>{{product.category}}</p>
          <p><strong>price : </strong>{{product.price|currency:'INR'}}</p>

  
  </div>
  </ng-container> -->

<!-- <div class="container">
<div class="product-card">
  <div class="badge">26%off</div>
  <div class="product-tumb">
    <img src="https://cdn.shopify.com/s/files/1/0722/2059/products/1_01aafc8a-9703-4a0a-bd31-ec68c9606248.jpg?v=1680694282&width=256" alt="">
  </div>
  <div class="product-details">
 
    <h4><a href="">BALWAAN BS-20 KRISHI SINGLE MOTOR BATTERY SPRAYER| 12X8</a></h4>
    <p>Modish Tractoraurkisan Pvt Ltd</p>
    <div class="product-bottom-details">
      <div class="product-price"><small>5000</small>3500</div>
      <div class="dropdown">  Size  
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
    1 unit
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <li><button class="dropdown-item" type="button">Action</button></li>
    <li><button class="dropdown-item" type="button">Another action</button></li>
    <li><button class="dropdown-item" type="button">Something else here</button></li>
  </ul>
</div>
      <div class="product-links">
        <a href=""><i class="fa fa-heart"></i></a>
       
      </div>
    </div>
  </div>
</div> -->
<!-- <div class="container">
  <div class="product-card">
    <div class="badge">26%off</div>
    <div class="product-tumb">
      <img src="https://cdn.shopify.com/s/files/1/0722/2059/products/1_01aafc8a-9703-4a0a-bd31-ec68c9606248.jpg?v=1680694282&width=256" alt="">
    </div>
    <div class="product-details">
      <span class="product-catagory">Women,bag</span>
      <h4><a href="">Women leather bag</a></h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
      <div class="product-bottom-details">
        <div class="product-price"><small>$96.00</small>$230.99</div>
        <div class="product-links">
          <a href=""><i class="fa fa-heart"></i></a>
          <a href=""><i class="fa fa-shopping-cart"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="product-card">
      <div class="badge">26%off</div>
      <div class="product-tumb">
        <img src="https://cdn.shopify.com/s/files/1/0722/2059/products/1_01aafc8a-9703-4a0a-bd31-ec68c9606248.jpg?v=1680694282&width=256" alt="">
      </div>
      <div class="product-details">
        <span class="product-catagory">Women,bag</span>
        <h4><a href="">Women leather bag</a></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
        <div class="product-bottom-details">
          <div class="product-price"><small>$96.00</small>$230.99</div>
          <div class="product-links">
            <a href=""><i class="fa fa-heart"></i></a>
            <a href=""><i class="fa fa-shopping-cart"></i></a>
          </div>
        </div>
      </div>
    </div> -->

<!-- 
    <div class="main-bg">
      <div class="container">
        <h4>Sprayers</h4>
        <div class="row">
          <div class="prodss-card col-12 col-md-6 col-lg-4" *ngFor="let pr of prod">
            <div class="d-flex flex-row position-relative">
              <div class="discount-tags">
                <span>26%</span>
              </div>
              <div>
                <img src={{pr.img}} class="prod-card-img">
                <h1>{{pr.title}}</h1>
                <p>{{pr.category}}</p>
                <div class="d-flex flex-row">
                  <h6>{{pr.rupees | currency:'INR'}}</h6>
                  <h6 class="text-secondary mx-2">{{pr.orgRupee|currency:'INR'}}</h6>

                </div>
                <i class="fa-solid fa-tag i-design">
                  <span>saved price {{pr.rupee | currency:'INR'}}</span>
                </i>
                <div class="d-flex flex-row my-2">
                  <h6>Size:</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->

<div class="main-bg">
  <div class="container">
    <div class="row">
      <div
        class="product-card col-12 col-md-6 col-lg-4"
        *ngFor="let product of prod"
      >
        <div class="d-flex flex-row position-relative">
          <div class="discount-tag">
            <span>30%</span>
            <div>
            <i class="fa-solid fa-cart-shopping fa-2x cart-icon"></i>


            </div>
          </div>
          <div>
            <img src="{{ product.img }}" class="product-card-img" />
            <h1>{{ product.title }}</h1>
            <p>{{ product.category }}</p>
            <div class="d-flex flex-row">
              <h6>{{ product.rupee | currency : "INR" }}</h6>
              <h6 class="text-secondary mx-2">
                {{ product.orgRupes | currency : "INR" }}
              </h6>
            </div>

            <i class="fa-solid fa-tag i-design">
              <span>saved price {{ product.discout | currency : "INR" }}</span>
            </i>
            <div class="d-flex flex-row my-2">
              <h6>Size:</h6>
              <button class="btn btn-outline-dark mx-2 dropdown">1 Unit</button>
             
            
              
            </div>
            <div>
              <i class="fa-regular fa-heart"></i>
            </div>
          </div>
        </div>
      </div>
        
    </div>
  </div>
  <br /><br />

  
  
  
  

  <!-- <div class="mx-auto flex flex-row items-center"> -->
  <!-- <div class="container d-flex ">
          <div class="cart-top container-fuild">
        <div class="items-center">
          
            <a>
              <img
                src="https://www.bighaat.com/_next/image?url=https%3A%2F%2Fbighaat-prodv2-media-cdn.azureedge.net%2Ftrustmarkers%2Ftm_home_2_page_v2.webp&w=1200&q=75"
                
              />
            </a>
          </div> -->

  <div class="w-full xl:w-[1200px] mx-auto flex flex-row items-center">
    <div class="container d-flex">
      <img
        src="https://www.bighaat.com/_next/image?url=https%3A%2F%2Fbighaat-prodv2-media-cdn.azureedge.net%2Ftrustmarkers%2Ftm_home_2_page_v2.webp&w=1200&q=75"
      />
    </div>
  </div>
</div>
