<!-- Products name bar -->

<nav class="cart-top">
  <h1 class="headings">SYNGENTA SEEDS</h1>
</nav>

<!-- Card -->

<div class="container">
  <div class ="row d-flex flex-row justify-content-center">
  <div class="card col-6 col-l-3" style="width: 10rem; height: 18rem; ">
    <img style="height: 10rem; "src="https://cdn.shopify.com/s/files/1/0722/2059/products/Sahoo.jpg?v=1671198625&width=256" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">SAHOO TOMATO SEEDS [TO-3251]</h5>
      <p class="card-text">Syngenta</p>
      <li class="list-group-item"><strong>{{ 979 | currency : "INR" }}</strong></li>
      <i class="fa-solid fa-percent content"
          >saved price {{ 150 | currency : "INR" }}</i
        >
    </div>
  </div>
  <div class="card col-6" style="width: 10rem; height: 18rem; ">
    <img style="height: 10rem; "src="https://cdn.shopify.com/s/files/1/0722/2059/products/Sahoo.jpg?v=1671198625&width=256" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">SAHOO TOMATO SEEDS [TO-3251]</h5>
      <p class="card-text">Syngenta</p>
      <li class="list-group-item"><strong>{{ 979 | currency : "INR" }}</strong></li>
      <i class="fa-solid fa-percent content"
          >saved price {{ 150 | currency : "INR" }}</i
        >
    </div> 
  </div>

  <div class="card col-6" style="width: 10rem; height: 18rem; ">
    <img style="height: 10rem; "src="https://cdn.shopify.com/s/files/1/0722/2059/products/Sahoo.jpg?v=1671198625&width=256" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">SAHOO TOMATO SEEDS [TO-3251]</h5>
      <p class="card-text">Syngenta</p>
      <li class="list-group-item"><strong>{{ 979 | currency : "INR" }}</strong></li>
      <i class="fa-solid fa-percent content"
          >saved price {{ 150 | currency : "INR" }}</i
        >
    </div>
  </div>

  <div class="card col-6" style="width: 10rem; height: 18rem; ">
    <img style="height: 10rem; "src="https://cdn.shopify.com/s/files/1/0722/2059/products/Sahoo.jpg?v=1671198625&width=256" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">SAHOO TOMATO SEEDS [TO-3251]</h5>
      <p class="card-text">Syngenta</p>
      <li class="list-group-item"><strong>{{ 979 | currency : "INR" }}</strong></li>
      <i class="fa-solid fa-percent content"
          >saved price {{ 150 | currency : "INR" }}</i
        >
    </div>
  </div>
  <div class="card col-6" style="width: 10rem; height: 18rem; ">
    <img style="height: 10rem; "src="https://cdn.shopify.com/s/files/1/0722/2059/products/Sahoo.jpg?v=1671198625&width=256" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">SAHOO TOMATO SEEDS [TO-3251]</h5>
      <p class="card-text">Syngenta</p>
      <li class="list-group-item"><strong>{{ 979 | currency : "INR" }}</strong></li>
      <i class="fa-solid fa-percent content"
          >saved price {{ 150 | currency : "INR" }}</i
        >
    </div>
  </div>
  <div class="card col-6" style="width: 10rem; height: 18rem; ">
    <img style="height: 10rem; "src="https://cdn.shopify.com/s/files/1/0722/2059/products/Sahoo.jpg?v=1671198625&width=256" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">SAHOO TOMATO SEEDS [TO-3251]</h5>
      <p class="card-text">Syngenta</p>
      <li class="list-group-item"><strong>{{ 979 | currency : "INR" }}</strong></li>
      <i class="fa-solid fa-percent content"
          >saved price {{ 150 | currency : "INR" }}</i
        >
    </div>
  </div>
  <div class="card col-6" style="width: 10rem; height: 18rem; ">
    <img style="height: 10rem; "src="https://cdn.shopify.com/s/files/1/0722/2059/products/Sahoo.jpg?v=1671198625&width=256" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">SAHOO TOMATO SEEDS [TO-3251]</h5>
      <p class="card-text">Syngenta</p>
      <li class="list-group-item"><strong>{{ 979 | currency : "INR" }}</strong></li>
      <i class="fa-solid fa-percent content"
          >saved price {{ 150 | currency : "INR" }}</i
        >
    </div>
  </div>
  <div class="card col-6" style="width: 10rem; height: 18rem; ">
    <img style="height: 10rem; "src="https://cdn.shopify.com/s/files/1/0722/2059/products/Sahoo.jpg?v=1671198625&width=256" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">SAHOO TOMATO SEEDS [TO-3251]</h5>
      <p class="card-text">Syngenta</p>
      <li class="list-group-item"><strong>{{ 979 | currency : "INR" }}</strong></li>
      <i class="fa-solid fa-percent content"
          >saved price {{ 150 | currency : "INR" }}</i
        >
    </div>
  </div>
  <div class="card col-6" style="width: 10rem; height: 18rem; ">
    <img style="height: 10rem; "src="https://cdn.shopify.com/s/files/1/0722/2059/products/Sahoo.jpg?v=1671198625&width=256" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">SAHOO TOMATO SEEDS [TO-3251]</h5>
      <p class="card-text">Syngenta</p>
      <li class="list-group-item"><strong>{{ 979 | currency : "INR" }}</strong></li>
      <i class="fa-solid fa-percent content"
          >saved price {{ 150 | currency : "INR" }}</i
        >
    </div>
  </div>
  <div class="card col-6" style="width: 10rem; height: 18rem; ">
    <img style="height: 10rem; "src="https://cdn.shopify.com/s/files/1/0722/2059/products/Sahoo.jpg?v=1671198625&width=256" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">SAHOO TOMATO SEEDS [TO-3251]</h5>
      <p class="card-text">Syngenta</p>
      <li class="list-group-item"><strong>{{ 979 | currency : "INR" }}</strong></li>
      <i class="fa-solid fa-percent content"
          >saved price {{ 150 | currency : "INR" }}</i
        >
    </div>
  </div>
  <div class="card col-6" style="width: 10rem; height: 18rem; ">
    <img style="height: 10rem; "src="https://cdn.shopify.com/s/files/1/0722/2059/products/Sahoo.jpg?v=1671198625&width=256" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">SAHOO TOMATO SEEDS [TO-3251]</h5>
      <p class="card-text">Syngenta</p>
      <li class="list-group-item"><strong>{{ 979 | currency : "INR" }}</strong></li>
      <i class="fa-solid fa-percent content"
          >saved price {{ 150 | currency : "INR" }}</i
        >
    </div>
  </div>
  <div class="card col-6" style="width: 10rem; height: 18rem; ">
    <img style="height: 10rem; "src="https://cdn.shopify.com/s/files/1/0722/2059/products/Sahoo.jpg?v=1671198625&width=256" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">SAHOO TOMATO SEEDS [TO-3251]</h5>
      <p class="card-text">Syngenta</p>
      <li class="list-group-item"><strong>{{ 979 | currency : "INR" }}</strong></li>
      <i class="fa-solid fa-percent content"
          >saved price {{ 150 | currency : "INR" }}</i
        >
    </div>
  </div>
  <div class="card col-6" style="width: 10rem; height: 18rem; ">
    <img style="height: 10rem; "src="https://cdn.shopify.com/s/files/1/0722/2059/products/Sahoo.jpg?v=1671198625&width=256" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">SAHOO TOMATO SEEDS [TO-3251]</h5>
      <p class="card-text">Syngenta</p>
      <li class="list-group-item"><strong>{{ 979 | currency : "INR" }}</strong></li>
      <i class="fa-solid fa-percent content"
          >saved price {{ 150 | currency : "INR" }}</i
        >
    </div>
  </div>
  <div class="card col-6" style="width: 10rem; height: 18rem; ">
    <img style="height: 10rem; "src="https://cdn.shopify.com/s/files/1/0722/2059/products/Sahoo.jpg?v=1671198625&width=256" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">SAHOO TOMATO SEEDS [TO-3251]</h5>
      <p class="card-text">Syngenta</p>
      <li class="list-group-item"><strong>{{ 979 | currency : "INR" }}</strong></li>
      <i class="fa-solid fa-percent content"
          >saved price {{ 150 | currency : "INR" }}</i
        >
    </div>
  </div>
  <div class="card col-6" style="width: 10rem; height: 18rem; ">
    <img style="height: 10rem; "src="https://cdn.shopify.com/s/files/1/0722/2059/products/Sahoo.jpg?v=1671198625&width=256" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">SAHOO TOMATO SEEDS [TO-3251]</h5>
      <p class="card-text">Syngenta</p>
      <li class="list-group-item"><strong>{{ 979 | currency : "INR" }}</strong></li>
      <i class="fa-solid fa-percent content"
          >saved price {{ 150 | currency : "INR" }}</i
        >
    </div>
  </div>

</div> 
