<!-- Dropdown section -->
<div class="d-flex flex-row ">
    <!-- BRANDS DROPDOWN -->
    <div class="dropdown">
        <button class="btn-dropdown dropdown-toggle" href="#" role="button" aria-expanded="false">
            BRANDS
        </button>
        <div class="dropdown-menu">
            <div class="d-flex flex-row justify-content-center">
            <div class="mx-5">
                <li><a class="dropdown-item list-head" href="#">SEEDS</a></li>
                <li><a class="dropdown-item list-item" href="#">SYNGENIA</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">NAMDHARI</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">SEMINIS</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">EAST WEST</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">IRIS HYBRID</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">VNR</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">NUHHEMS</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">SARPAN</a><hr class="hr-line"></li>
            </div>
            <div>
                <li><a class="dropdown-item list-head" href="#">CROP PROTECTION</a></li>
                <li><a class="dropdown-item list-item" href="#">BAYER</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">SYNGENTA</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">BASF</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">FMC</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">RALLIS</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">TAPAS</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">DHANUKA</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">UPL</a><hr class="hr-line"></li>
            </div>
            <div>
                <li><a class="dropdown-item list-head" href="#">CROP NUTRITION</a></li>
                <li><a class="dropdown-item list-item" href="#">MULTIPLEX</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">HIFIELD</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">SEA6 ENERGY</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">HUMATE INDIA</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">MICROBI AGROTECH</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">KATYANI ORGANICS</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">GEOLIFE</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">TAPAS</a><hr class="hr-line"></li>
            </div>
        </div>
        </div>
    </div>
    <!-- SEEDS DROPDOWN -->
    <div class="dropdown">
        <button class="btn-dropdown dropdown-toggle" href="#" role="button" aria-expanded="false">
            SEEDS
        </button>
        <div class="dropdown-menu">
            <div class="d-flex flex-row">
            <div class="mx-5">
                <li><a class="dropdown-item list-head" href="#">HORTICULTURE CROPS</a></li>
                <li><a class="dropdown-item list-item" href="#">VEGETABLES SEEDS</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">FRUIT SEEDS</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">FLOWER SEEDS</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">SEED GERMINATOR</a><hr class="hr-line"></li>
            </div>
            <div>
                <li><a class="dropdown-item list-head" href="#">FIELD CROPS</a></li>
                <li><a class="dropdown-item list-item" href="#">FORAGES</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">MAIZE/CORN</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">PADDY</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">MUSTARD</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">RALLIS</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">JOWAR</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">COTTON</a><hr class="hr-line"></li>
            </div>
            <div>
                <li><a class="dropdown-item list-head" href="#">SPECIAL CATEGORY</a></li>
                <li><a class="dropdown-item list-item" href="#">POLYHOUSE</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">EXOTICS</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">FORESTRY</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">URBAN GARDEN</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">SAPLINGS</a><hr class="hr-line"></li>
            </div>
        </div>
        </div>
    </div>
    <!-- CROP PROTECTION -->
    <div class="dropdown">
        <button class="btn-dropdown dropdown-toggle" href="#" role="button" aria-expanded="false">
            CROP PROTECTION
        </button>
        <div class="dropdown-menu">
            <div class="d-flex flex-row">
            <div class="mx-5">
                <li><a class="dropdown-item list-head" href="#">CHEMICAL PESTICIDES</a></li>
                <li><a class="dropdown-item list-item" href="#">INSECTICIDES</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">FUNGICIDES</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">HERBICIDES</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">BACTERICIDES</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">MITICIDES/ACARICIDES</a><hr class="hr-line"></li>
            </div>
            <div>
                <li><a class="dropdown-item list-head" href="#">BIO/ORGANIC PESTICIDES</a></li>
                <li><a class="dropdown-item list-item" href="#">\BIO INSECTICIDES</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">BIO FUNGICIDES</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">BIO VIRICIDES</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">BIO NEMATICIDES</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">BIO MITICIDES/ACARICIDES</a><hr class="hr-line"></li>
            </div>
            <div>
                <li><a class="dropdown-item list-head" href="#">TRAPS AND LURES</a></li>
                <li><a class="dropdown-item list-item" href="#">STICKY TRAPS</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">PHEROMONE LURES</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">PHEROMONE TRAPS</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">SOLAR LIGHT TRAPS</a><hr class="hr-line"></li>
            </div>
            <div>
                <li><a class="dropdown-item list-head" href="#">OTHERS</a></li>
                <li><a class="dropdown-item list-item" href="#">ADJUVANTS</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">SURFACE DISINFECTANTS</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">DECOMPOSERS</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">ANIMAL REPELLANT</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">SAFETY KIT</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">SAFETY SHOES</a><hr class="hr-line"></li>
            </div>
        </div>
        </div>
    </div>
    <!-- CROP NUTRITION -->
    <div class="dropdown">
        <button class="btn-dropdown dropdown-toggle" href="#" role="button" aria-expanded="false">
            CROP NUTRITION
        </button>
        <div class="dropdown-menu">
            <div class="d-flex flex-row">
            <div class="mx-5">
                <li><a class="dropdown-item list-head" href="#">FERTILIZERS</a></li>
                <li><a class="dropdown-item list-item" href="#">CHEMICAL FERTILIZERS</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">BIO/ORGANIC FERTILIZERS</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">MICRO NUTRIENTS</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">HUMIC ACIDS</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">pH BALAMCERS HYBRID</a><hr class="hr-line"></li>
            </div>
            <div>
                <li><a class="dropdown-item list-head" href="#">GROWTH PROMOTERS</a></li>
                <li><a class="dropdown-item list-item" href="#">PLANT GROWTH PROMOTERS</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">PLANT ENHANCERS</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">BIO STMULANTS/ACTIVATORS</a><hr class="hr-line"></li>
            </div>
            <div>
                <li><a class="dropdown-item list-head" href="#">PLANT GROWTH REGULATORS</a></li>
                <li><a class="dropdown-item list-item" href="#">YIELD BOOSTERS</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">FRUIT ENHANCERS</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">FLOWERS BOOSTERS</a><hr class="hr-line"></li>
            </div>
            <div>
                <li><a class="dropdown-item list-head" href="#">POPULAR</a></li>
                <li><a class="dropdown-item list-item" href="#">NPK FERTILIZERS</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">LIQUID FERTILIZERS</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">SEAWEED EXTRACTS</a><hr class="hr-line"></li>
            </div>
        </div>
        </div>
    </div>
    <!-- EQUIPMENT -->
    <div class="dropdown">
        <button class="btn-dropdown dropdown-toggle" href="#" role="button" aria-expanded="false">
            EQUIPMENT
        </button>
        <div class="dropdown-menu">
            <div class="d-flex flex-row">
            <div class="mx-5">
                <li><a class="dropdown-item list-head" href="#">IMPLEMENTS</a></li>
                <li><a class="dropdown-item list-item" href="#">SPRAYERS</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">BRUSH CUTTER</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">WEEDER/TILLER</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">CHAFF CUTTER AND PARTS</a><hr class="hr-line"></li>
            </div>
            <div>
                <li><a class="dropdown-item list-head" href="#">AGRICULTURE TOOLS</a></li>
                <li><a class="dropdown-item list-item" href="#">NURSERY INPUTS</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">FRUIT HARVESTERS/PLUCKER</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">GERDEN TOOLS</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">SEEDER/TRANSPLANTER</a><hr class="hr-line"></li>
            </div>
            <div>
                <li><a class="dropdown-item list-head" href="#">ACCESSORIES</a></li>
                <li><a class="dropdown-item list-item" href="#">TIRPAL/TARPAULIN</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">MULCH</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">SHADE NET</a><hr class="hr-line"></li>
                <li><a class="dropdown-item list-item" href="#">TRAPS AND LURE INDIA</a><hr class="hr-line"></li>
            </div>
        </div>
        </div>
    </div>
    
</div>

<!-- Coursel section -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://bighaat-prodv2-media-cdn.azureedge.net/wsfbanners/b68d4684-cf50-48cb-a894-6536e5269e61.webp" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://bighaat-prodv2-media-cdn.azureedge.net/wsfbanners/c183ba0a-9d93-4b39-99f9-6d43f7f4d98c.webp" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://bighaat-prodv2-media-cdn.azureedge.net/wsfbanners/971c4c52-60a6-45d0-8094-3d1993babf1b.webp" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item active">
        <img src="https://bighaat-prodv2-media-cdn.azureedge.net/wsfbanners/6f1966ae-5e63-41a2-bec9-86d2fb368380.webp" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>