<!-- Dropdown section -->

<div class="d-flex flex-column flex-md-row justify-content-center">
    <!-- BRANDS DROPDOWN -->
    <div class="dropdown mx-2">
        <button class="btn-dropdown dropdown-toggle" type="button" id="brandsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            BRANDS
        </button>
        <div class="dropdown-menu" aria-labelledby="brandsDropdown">
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="mx-2">
                    <h6 class="dropdown-header">SEEDS</h6>
                    <a class="dropdown-item" href="#">SYNGENIA</a>
                    <a class="dropdown-item" href="#">NAMDHARI</a>
                    <a class="dropdown-item" href="#">SEMINIS</a>
                    <a class="dropdown-item" href="#">EAST WEST</a>
                    <a class="dropdown-item" href="#">IRIS HYBRID</a>
                    <a class="dropdown-item" href="#">VNR</a>
                    <a class="dropdown-item" href="#">NUHHEMS</a>
                    <a class="dropdown-item" href="#">SARPAN</a>
                </div>
                <div class="mx-2">
                    <h6 class="dropdown-header">CROP PROTECTION</h6>
                    <a class="dropdown-item" href="#">BAYER</a>
                    <a class="dropdown-item" href="#">SYNGENTA</a>
                    <a class="dropdown-item" href="#">BASF</a>
                    <a class="dropdown-item" href="#">FMC</a>
                    <a class="dropdown-item" href="#">RALLIS</a>
                    <a class="dropdown-item" href="#">TAPAS</a>
                    <a class="dropdown-item" href="#">DHANUKA</a>
                    <a class="dropdown-item" href="#">UPL</a>
                </div>
                <div class="mx-2">
                    <h6 class="dropdown-header">CROP NUTRITION</h6>
                    <a class="dropdown-item" href="#">MULTIPLEX</a>
                    <a class="dropdown-item" href="#">HIFIELD</a>
                    <a class="dropdown-item" href="#">SEA6 ENERGY</a>
                    <a class="dropdown-item" href="#">HUMATE INDIA</a>
                    <a class="dropdown-item" href="#">MICROBI AGROTECH</a>
                    <a class="dropdown-item" href="#">KATYANI ORGANICS</a>
                    <a class="dropdown-item" href="#">GEOLIFE</a>
                    <a class="dropdown-item" href="#">TAPAS</a>
                </div>
            </div>
        </div>
    </div>

    <!-- SEEDS DROPDOWN -->
    <div class="dropdown mx-2">
        <button class="btn-dropdown dropdown-toggle" type="button" id="seedsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            SEEDS
        </button>
        <div class="dropdown-menu" aria-labelledby="seedsDropdown">
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="mx-2">
                    <h6 class="dropdown-header">HORTICULTURE CROPS</h6>
                    <a class="dropdown-item" href="#">VEGETABLES SEEDS</a>
                    <a class="dropdown-item" href="#">FRUIT SEEDS</a>
                    <a class="dropdown-item" href="#">FLOWER SEEDS</a>
                    <a class="dropdown-item" href="#">SEED GERMINATOR</a>
                </div>
                <div class="mx-2">
                    <h6 class="dropdown-header">FIELD CROPS</h6>
                    <a class="dropdown-item" href="#">FORAGES</a>
                    <a class="dropdown-item" href="#">MAIZE/CORN</a>
                    <a class="dropdown-item" href="#">PADDY</a>
                    <a class="dropdown-item" href="#">MUSTARD</a>
                    <a class="dropdown-item" href="#">RALLIS</a>
                    <a class="dropdown-item" href="#">JOWAR</a>
                    <a class="dropdown-item" href="#">COTTON</a>
                </div>
                <div class="mx-2">
                    <h6 class="dropdown-header">SPECIAL CATEGORY</h6>
                    <a class="dropdown-item" href="#">POLYHOUSE</a>
                    <a class="dropdown-item" href="#">EXOTICS</a>
                    <a class="dropdown-item" href="#">FORESTRY</a>
                    <a class="dropdown-item" href="#">URBAN GARDEN</a>
                    <a class="dropdown-item" href="#">SAPLINGS</a>
                </div>
            </div>
        </div>
    </div>

    <!-- CROP PROTECTION -->
    <div class="dropdown mx-2">
        <button class="btn-dropdown dropdown-toggle" type="button" id="cropProtectionDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            CROP PROTECTION
        </button>
        <div class="dropdown-menu" aria-labelledby="cropProtectionDropdown">
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="mx-2">
                    <h6 class="dropdown-header">CHEMICAL PESTICIDES</h6>
                    <a class="dropdown-item" href="#">INSECTICIDES</a>
                    <a class="dropdown-item" href="#">FUNGICIDES</a>
                    <a class="dropdown-item" href="#">HERBICIDES</a>
                    <a class="dropdown-item" href="#">BACTERICIDES</a>
                    <a class="dropdown-item" href="#">MITICIDES/ACARICIDES</a>
                </div>
                <div class="mx-2">
                    <h6 class="dropdown-header">BIO/ORGANIC PESTICIDES</h6>
                    <a class="dropdown-item" href="#">BIO INSECTICIDES</a>
                    <a class="dropdown-item" href="#">BIO FUNGICIDES</a>
                    <a class="dropdown-item" href="#">BIO VIRICIDES</a>
                    <a class="dropdown-item" href="#">BIO NEMATICIDES</a>
                    <a class="dropdown-item" href="#">BIO MITICIDES/ACARICIDES</a>
                </div>
                <div class="mx-2">
                    <h6 class="dropdown-header">TRAPS AND LURES</h6>
                    <a class="dropdown-item" href="#">STICKY TRAPS</a>
                    <a class="dropdown-item" href="#">PHEROMONE LURES</a>
                    <a class="dropdown-item" href="#">PHEROMONE TRAPS</a>
                    <a class="dropdown-item" href="#">SOLAR LIGHT TRAPS</a>
                </div>
                <div class="mx-2">
                    <h6 class="dropdown-header">OTHERS</h6>
                    <a class="dropdown-item" href="#">ADJUVANTS</a>
                    <a class="dropdown-item" href="#">SURFACE DISINFECTANTS</a>
                    <a class="dropdown-item" href="#">DECOMPOSERS</a>
                    <a class="dropdown-item" href="#">ANIMAL REPELLANT</a>
                    <a class="dropdown-item" href="#">SAFETY KIT</a>
                    <a class="dropdown-item" href="#">SAFETY SHOES</a>
                </div>
            </div>
        </div>
    </div>

    <!-- CROP NUTRITION -->
    <div class="dropdown mx-2">
        <button class="btn-dropdown dropdown-toggle" type="button" id="cropNutritionDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            CROP NUTRITION
        </button>
        <div class="dropdown-menu" aria-labelledby="cropNutritionDropdown">
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="mx-2">
                    <h6 class="dropdown-header">FERTILIZERS</h6>
                    <a class="dropdown-item" href="#">CHEMICAL FERTILIZERS</a>
                    <a class="dropdown-item" href="#">BIO/ORGANIC FERTILIZERS</a>
                    <a class="dropdown-item" href="#">MICRO NUTRIENTS</a>
                    <a class="dropdown-item" href="#">HUMIC ACIDS</a>
                    <a class="dropdown-item" href="#">pH BALAMCERS HYBRID</a>
                </div>
                <div class="mx-2">
                    <h6 class="dropdown-header">GROWTH PROMOTERS</h6>
                    <a class="dropdown-item" href="#">PLANT GROWTH PROMOTERS</a>
                    <a class="dropdown-item" href="#">PLANT ENHANCERS</a>
                    <a class="dropdown-item" href="#">BIO STMULANTS/ACTIVATORS</a>
                </div>
                <div class="mx-2">
                    <h6 class="dropdown-header">PLANT GROWTH REGULATORS</h6>
                    <a class="dropdown-item" href="#">HERBICIDES</a>
                    <a class="dropdown-item" href="#">NEMATICIDES</a>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>

<!-- Coursel section -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://bighaat-prodv2-media-cdn.azureedge.net/wsfbanners/b68d4684-cf50-48cb-a894-6536e5269e61.webp" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://bighaat-prodv2-media-cdn.azureedge.net/wsfbanners/c183ba0a-9d93-4b39-99f9-6d43f7f4d98c.webp" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://bighaat-prodv2-media-cdn.azureedge.net/wsfbanners/971c4c52-60a6-45d0-8094-3d1993babf1b.webp" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item active">
        <img src="https://bighaat-prodv2-media-cdn.azureedge.net/wsfbanners/6f1966ae-5e63-41a2-bec9-86d2fb368380.webp" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  

<!-- Categories -->
<div class="card-container">
    <h2 class="text-center">Categories</h2>
    <div class="container">
      <div class="row justify-content-center">
        <!-- Category 1 -->
        <div class="col-md-3 col-sm-6 text-center mb-4">
          <a>
            <img
              src="https://bighaat-prodv2-media-cdn.azureedge.net/wsfbanners/b890fdf0-d110-494d-97fa-d659ea96aec1.webp"
              class="img-fluid"
              alt="Offers"
            />
          </a>
          <h6>Offers</h6>
        </div>
        <!-- Category 2 -->
        <div class="col-md-3 col-sm-6 text-center mb-4">
          <a>
            <img
              src="https://bighaat-prodv2-media-cdn.azureedge.net/wsfbanners/56025b3c-023f-46c7-bcea-7fc1de0a5cdd.webp"
              class="img-fluid"
              alt="Herbicides"
            />
          </a>
          <h6>Herbicides</h6>
        </div>
        <!-- Category 3 -->
        <div class="col-md-3 col-sm-6 text-center mb-4">
          <a>
            <img
              src="https://bighaat-prodv2-media-cdn.azureedge.net/wsfbanners/38a74ec3-e08d-47c4-b695-b30e2666b4e2.webp"
              class="img-fluid"
              alt="Growth Promoters"
            />
          </a>
          <h6>Growth Promoters</h6>
        </div>
        <!-- Category 4 -->
        <div class="col-md-3 col-sm-6 text-center mb-4">
          <a>
            <img
              src="https://bighaat-prodv2-media-cdn.azureedge.net/wsfbanners/07d9a93a-460c-470b-8ec5-2362ccea7255.webp"
              class="img-fluid"
              alt="Fungicides"
            />
          </a>
          <h6>Fungicides</h6>
        </div>
        <!-- Category 5 -->
        <div class="col-md-3 col-sm-6 text-center mb-4">
          <a>
            <img
              src="https://bighaat-prodv2-media-cdn.azureedge.net/wsfbanners/74feef0d-cf8e-4ec1-9cc1-3e5e68befa1f.webp"
              class="img-fluid"
              alt="Vegetable & Fruit Seeds"
            />
          </a>
          <h6>Vegetable & Fruit Seeds</h6>
        </div>
        <!-- Category 6 -->
        <div class="col-md-3 col-sm-6 text-center mb-4">
          <a>
            <img
              src="https://bighaat-prodv2-media-cdn.azureedge.net/wsfbanners/a0ff675d-c11c-48c7-a1fe-4af0f415fb17.webp"
              class="img-fluid"
              alt="Farm Machinery"
            />
          </a>
          <h6>Farm Machinery</h6>
        </div>
        <!-- Category 7 -->
        <div class="col-md-3 col-sm-6 text-center mb-4">
          <a>
            <img
              src="https://bighaat-prodv2-media-cdn.azureedge.net/wsfbanners/ebf4694e-dff9-4f10-a5e6-da17b67a88e8.webp"
              class="img-fluid"
              alt="Polyhouse & Exotic Seeds"
            />
          </a>
          <h6>Polyhouse & Exotic Seeds</h6>
        </div>
        <!-- Category 8 -->
        <div class="col-md-3 col-sm-6 text-center mb-4">
          <a>
            <img
              src="https://bighaat-prodv2-media-cdn.azureedge.net/wsfbanners/fc5b849e-a779-4c5e-bd2a-7bad84cfc53f.webp"
              class="img-fluid"
              alt="Flower Seeds"
            />
          </a>
          <h6>Flower Seeds</h6>
        </div>
        <!-- Category 9 -->
        <div class="col-md-3 col-sm-6 text-center mb-4">
          <a>
            <img
              src="https://bighaat-prodv2-media-cdn.azureedge.net/wsfbanners/df5e90ed-80fa-4a6c-88b5-3a9ad32efc3f.webp"
              class="img-fluid"
              alt="Insecticides"
            />
          </a>
          <h6>Insecticides</h6>
        </div>
        <!-- Category 10 -->
        <div class="col-md-3 col-sm-6 text-center mb-4">
          <a>
            <img
              src="https://bighaat-prodv2-media-cdn.azureedge.net/wsfbanners/88b954c6-02e9-4d21-bc4b-ad46350a31f3.webp"
              class="img-fluid"
              alt="Organic Farming"
            />
          </a>
          <h6>Organic Farming</h6>
        </div>
        <!-- Category 11 -->
        <div class="col-md-3 col-sm-6 text-center mb-4">
          <a>
            <img
              src="https://bighaat-prodv2-media-cdn.azureedge.net/wsfbanners/0b75149c-b0a4-4f19-9727-1b33a3d2d1e4.webp"
              class="img-fluid"
              alt="Animal Husbandry"
            />
          </a>
          <h6>Animal Husbandry</h6>
        </div>
        <!-- Category 12 -->
        <div class="col-md-3 col-sm-6 text-center mb-4">
          <a>
            <img
              src="https://bighaat-prodv2-media-cdn.azureedge.net/wsfbanners/00a60f26-b8de-4b93-8575-b6da830e5e62.webp"
              class="img-fluid"
              alt="New Products"
            />
          </a>
          <h6>New Products</h6>
        </div>
      </div>
    </div>
  </div>
  
<!-- products-->
<div class="main-bg">
  <div class="container">
    <h5 class="text-left">Today's Offers</h5>
    <div class="row">
      <div
        class="product-card col-12 col-md-6 col-lg-4"
        *ngFor="let product of products"
      >
        <div class="d-flex flex-row position-relative">
          <div class="discount-tag">
            <span>50%</span>
          </div>
          <div>
            <img src="{{ product.img }}" class="product-card-img" />
            <h1>{{ product.title }}</h1>
            <p>{{ product.category }}</p>
            <div class="d-flex flex-row">
              <h6>{{ product.rupee | currency : "INR" }}</h6>
              <h6 class="text-secondary mx-2">
                {{ product.orgRupee | currency : "INR" }}
              </h6>
            </div>
            <i class="fa-solid fa-tag i-design">
              <span>saved price {{ product.rupee | currency : "INR" }}</span>
            </i>
            <div class="d-flex flex-row my-2">
              <h6>Size:</h6>
              <button class="btn btn-outline-dark mx-2">Select quantity</button>
            </div>
          </div>
          <div>
            <i class="fa-regular fa-heart"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- discounts card -->

<div class="offers">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-4 col-sm-6 text-center mb-3">
          <img
            src="https://bighaat-prodv2-media-cdn.azureedge.net/wsfbanners/BIGHAAT-couppon_01.webp"
            class="img-fluid"
            alt="Coupon 1"
          />
        </div>
  
        <div class="col-md-4 col-sm-6 text-center mb-3">
          <img
            src="https://bighaat-prodv2-media-cdn.azureedge.net/wsfbanners/BIGHAAT-couppon_02.webp"
            class="img-fluid"
            alt="Coupon 2"
          />
        </div>
  
        <div class="col-md-4 col-sm-6 text-center mb-3">
          <img
            src="https://bighaat-prodv2-media-cdn.azureedge.net/wsfbanners/batch_BIGHAAT-coupon-2000rs.webp"
            class="img-fluid"
            alt="Coupon 3"
          />
        </div>
      </div>
    </div>
  </div>
  
  

<div class="my-2">
    <ng-container>
      <div class="cart-top">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-4 col-sm-6 text-center mb-3">
              <a>
                <img
                  src="https://bighaat-prodv2-media-cdn.azureedge.net/wsfbanners/9b41e29e-ed9c-4b20-9d48-b2b3870d39d5.webp"
                  class="img-fluid"
                  alt="Banner 1"
                />
              </a>
            </div>
  
            <div class="col-md-4 col-sm-6 text-center mb-3">
              <a>
                <img
                  src="https://bighaat-prodv2-media-cdn.azureedge.net/wsfbanners/fb6a1dd1-753f-4563-870f-cf91ff61ee95.webp"
                  class="img-fluid"
                  alt="Banner 2"
                />
              </a>
            </div>
  
            <div class="col-md-4 col-sm-6 text-center mb-3">
              <a>
                <img
                  src="https://bighaat-prodv2-media-cdn.azureedge.net/wsfbanners/acd4ab99-9aae-4f21-bea4-fb08f590dde9.webp"
                  class="img-fluid"
                  alt="Banner 3"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <br /><br />
  </div>

  <h2 class="font-normal text-xl md:text-6xl text-black">Sprayers</h2>
  <div class="main-bg">
    <div class="container">
      <div class="row">
        <div
          class="product-card col-12 col-md-6 col-lg-4"
          *ngFor="let product of prod"
        >
          <div class="d-flex flex-row position-relative">
            <div class="discount-tag">
              <span>30%</span>
  
              
            </div>
            <div>
              <img src="{{ product.img }}" class="product-card-img" />
              <h1>{{ product.title }}</h1>
              <p>{{ product.category }}</p>
              <div class="d-flex flex-row">
                <h6>{{ product.rupee | currency : "INR" }}</h6>
                <h6 class="text-secondary mx-2">
                  {{ product.orgRupes | currency : "INR" }}
                </h6>
              </div>
  
              <i class="fa-solid fa-tag i-design">
                <span>saved price {{ product.discout | currency : "INR" }}</span>
              </i>
              <div class="d-flex flex-row my-2">
                <h6>Size:</h6>
                <button class="btn btn-outline-dark mx-2 dropdown">1 Unit</button>
               
              
                
              </div>
              <div>
                <i class="fa-regular fa-heart"></i>
              </div>
            </div>
          </div>
        </div>
          
      </div>
    </div>
    <br /><br />
  
    
    
    </div> 
    
    
<!-- Exclusive -->
<h2 class="text-2xl font-normal text-black text-center bottom-1 border-b pb-2.5">
  Exclusive
</h2>
<div class="image-container"> <!--takaen class name as image-container -->
  <div class="items">
    <a>
      <img
        src="https://bighaat-prodv2-media-cdn.azureedge.net/wsfbanners/6a35ca6b-0079-4e80-8ff5-4a64704bdbd8.webp"
        alt=""
      />
    </a>
  </div>

  <div class="items">
    <a>
      <img
        src="https://bighaat-prodv2-media-cdn.azureedge.net/wsfbanners/ccbf22b0-35e2-4227-97ea-80e990196914.webp"
        alt=""
      />
    </a>
  </div>

  <div class="items">
    <a>
      <img
        src="https://bighaat-prodv2-media-cdn.azureedge.net/wsfbanners/d653280d-6d20-41aa-8ae8-87ff5d74be54.webp"
        alt=""
      />
    </a>
  </div>

  <div class="items">
    <a>
      <img
        src="https://bighaat-prodv2-media-cdn.azureedge.net/wsfbanners/99b39d34-efbb-4331-9e53-65afcf76bebc.webp"
        alt=""
      />
    </a>
  </div>
</div>

<!-- Brands -->

<br/>
<br/>
<div class="bb">
  <h2 class="text-center">Brands</h2>
  <hr />
  <div class="brand-bg">
    <div class="brand-scroll">
      <div class="brand-grid"> <!-- Changed to brand-grid for grid layout -->
        <div class="brand-card mx-3">
          <img
            src="https://bighaat-prodv2-media-cdn.azureedge.net/brands/tapasLogo.webp"
            alt="Tapas Logo"
            class="brand-logo"
          />
        </div>

        <div class="brand-card mx-3">
          <img
            src="https://bighaat-prodv2-media-cdn.azureedge.net/brands/syngentaLogo.webp"
            alt="Syngenta Logo"
            class="brand-logo"
          />
        </div>

        <div class="brand-card mx-3">
          <img
            src="https://bighaat-prodv2-media-cdn.azureedge.net/brands/janathaAgroProductsLogo.webp"
            alt="Janatha Agro Products Logo"
            class="brand-logo"
          />
        </div>

        <div class="brand-card mx-3">
          <img
            src="https://bighaat-prodv2-media-cdn.azureedge.net/brands/seminisLogo.webp"
            alt="Seminis Logo"
            class="brand-logo"
          />
        </div>

        <div class="brand-card mx-3">
          <img
            src="https://bighaat-prodv2-media-cdn.azureedge.net/brands/bayerLogo.webp"
            alt="Bayer Logo"
            class="brand-logo"
          />
        </div>

        <div class="brand-card mx-3">
          <img
            src="https://bighaat-prodv2-media-cdn.azureedge.net/brands/namdhariSeedsLogo.webp"
            alt="Namdhari Seeds Logo"
            class="brand-logo"
          />
        </div>

        <div class="brand-card mx-3">
          <img
            src="https://bighaat-prodv2-media-cdn.azureedge.net/brands/rallisLogo.webp"
            alt="Rallis Logo"
            class="brand-logo"
          />
        </div>

        <div class="brand-card mx-3">
          <img
            src="https://bighaat-prodv2-media-cdn.azureedge.net/brands/dhanukaLogo.webp"
            alt="Dhanuka Logo"
            class="brand-logo"
          />
        </div>

        <div class="brand-card mx-3">
          <img
            src="https://bighaat-prodv2-media-cdn.azureedge.net/brands/fmcLogo.webp"
            alt="FMC Logo"
            class="brand-logo"
          />
        </div>

        <div class="brand-card mx-3">
          <img
            src="https://bighaat-prodv2-media-cdn.azureedge.net/brands/uplLogo.webp"
            alt="UPL Logo"
            class="brand-logo"
          />
        </div>

        <div class="brand-card mx-3">
          <img
            src="https://bighaat-prodv2-media-cdn.azureedge.net/brands/geolifeLogo.webp"
            alt="Geolife Logo"
            class="brand-logo"
          />
        </div>

        <div class="brand-card mx-3">
          <img
            src="https://bighaat-prodv2-media-cdn.azureedge.net/brands/ewsInternationalLogo.webp"
            alt="EWS International Logo"
            class="brand-logo"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Growth Promoters -->


  

