<!-- Dropdown section -->
<div class="d-flex flex-column flex-md-row justify-content-center">
    <!-- BRANDS DROPDOWN -->
    <div class="dropdown mx-2">
        <button class="btn-dropdown dropdown-toggle" type="button" id="brandsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            BRANDS
        </button>
        <div class="dropdown-menu" aria-labelledby="brandsDropdown">
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="mx-2">
                    <h6 class="dropdown-header">SEEDS</h6>
                    <a class="dropdown-item" href="#">SYNGENIA</a>
                    <a class="dropdown-item" href="#">NAMDHARI</a>
                    <a class="dropdown-item" href="#">SEMINIS</a>
                    <a class="dropdown-item" href="#">EAST WEST</a>
                    <a class="dropdown-item" href="#">IRIS HYBRID</a>
                    <a class="dropdown-item" href="#">VNR</a>
                    <a class="dropdown-item" href="#">NUHHEMS</a>
                    <a class="dropdown-item" href="#">SARPAN</a>
                </div>
                <div class="mx-2">
                    <h6 class="dropdown-header">CROP PROTECTION</h6>
                    <a class="dropdown-item" href="#">BAYER</a>
                    <a class="dropdown-item" href="#">SYNGENTA</a>
                    <a class="dropdown-item" href="#">BASF</a>
                    <a class="dropdown-item" href="#">FMC</a>
                    <a class="dropdown-item" href="#">RALLIS</a>
                    <a class="dropdown-item" href="#">TAPAS</a>
                    <a class="dropdown-item" href="#">DHANUKA</a>
                    <a class="dropdown-item" href="#">UPL</a>
                </div>
                <div class="mx-2">
                    <h6 class="dropdown-header">CROP NUTRITION</h6>
                    <a class="dropdown-item" href="#">MULTIPLEX</a>
                    <a class="dropdown-item" href="#">HIFIELD</a>
                    <a class="dropdown-item" href="#">SEA6 ENERGY</a>
                    <a class="dropdown-item" href="#">HUMATE INDIA</a>
                    <a class="dropdown-item" href="#">MICROBI AGROTECH</a>
                    <a class="dropdown-item" href="#">KATYANI ORGANICS</a>
                    <a class="dropdown-item" href="#">GEOLIFE</a>
                    <a class="dropdown-item" href="#">TAPAS</a>
                </div>
            </div>
        </div>
    </div>

    <!-- SEEDS DROPDOWN -->
    <div class="dropdown mx-2">
        <button class="btn-dropdown dropdown-toggle" type="button" id="seedsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            SEEDS
        </button>
        <div class="dropdown-menu" aria-labelledby="seedsDropdown">
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="mx-2">
                    <h6 class="dropdown-header">HORTICULTURE CROPS</h6>
                    <a class="dropdown-item" href="#">VEGETABLES SEEDS</a>
                    <a class="dropdown-item" href="#">FRUIT SEEDS</a>
                    <a class="dropdown-item" href="#">FLOWER SEEDS</a>
                    <a class="dropdown-item" href="#">SEED GERMINATOR</a>
                </div>
                <div class="mx-2">
                    <h6 class="dropdown-header">FIELD CROPS</h6>
                    <a class="dropdown-item" href="#">FORAGES</a>
                    <a class="dropdown-item" href="#">MAIZE/CORN</a>
                    <a class="dropdown-item" href="#">PADDY</a>
                    <a class="dropdown-item" href="#">MUSTARD</a>
                    <a class="dropdown-item" href="#">RALLIS</a>
                    <a class="dropdown-item" href="#">JOWAR</a>
                    <a class="dropdown-item" href="#">COTTON</a>
                </div>
                <div class="mx-2">
                    <h6 class="dropdown-header">SPECIAL CATEGORY</h6>
                    <a class="dropdown-item" href="#">POLYHOUSE</a>
                    <a class="dropdown-item" href="#">EXOTICS</a>
                    <a class="dropdown-item" href="#">FORESTRY</a>
                    <a class="dropdown-item" href="#">URBAN GARDEN</a>
                    <a class="dropdown-item" href="#">SAPLINGS</a>
                </div>
            </div>
        </div>
    </div>

    <!-- CROP PROTECTION -->
    <div class="dropdown mx-2">
        <button class="btn-dropdown dropdown-toggle" type="button" id="cropProtectionDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            CROP PROTECTION
        </button>
        <div class="dropdown-menu" aria-labelledby="cropProtectionDropdown">
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="mx-2">
                    <h6 class="dropdown-header">CHEMICAL PESTICIDES</h6>
                    <a class="dropdown-item" href="#">INSECTICIDES</a>
                    <a class="dropdown-item" href="#">FUNGICIDES</a>
                    <a class="dropdown-item" href="#">HERBICIDES</a>
                    <a class="dropdown-item" href="#">BACTERICIDES</a>
                    <a class="dropdown-item" href="#">MITICIDES/ACARICIDES</a>
                </div>
                <div class="mx-2">
                    <h6 class="dropdown-header">BIO/ORGANIC PESTICIDES</h6>
                    <a class="dropdown-item" href="#">BIO INSECTICIDES</a>
                    <a class="dropdown-item" href="#">BIO FUNGICIDES</a>
                    <a class="dropdown-item" href="#">BIO VIRICIDES</a>
                    <a class="dropdown-item" href="#">BIO NEMATICIDES</a>
                    <a class="dropdown-item" href="#">BIO MITICIDES/ACARICIDES</a>
                </div>
                <div class="mx-2">
                    <h6 class="dropdown-header">TRAPS AND LURES</h6>
                    <a class="dropdown-item" href="#">STICKY TRAPS</a>
                    <a class="dropdown-item" href="#">PHEROMONE LURES</a>
                    <a class="dropdown-item" href="#">PHEROMONE TRAPS</a>
                    <a class="dropdown-item" href="#">SOLAR LIGHT TRAPS</a>
                </div>
                <div class="mx-2">
                    <h6 class="dropdown-header">OTHERS</h6>
                    <a class="dropdown-item" href="#">ADJUVANTS</a>
                    <a class="dropdown-item" href="#">SURFACE DISINFECTANTS</a>
                    <a class="dropdown-item" href="#">DECOMPOSERS</a>
                    <a class="dropdown-item" href="#">ANIMAL REPELLANT</a>
                    <a class="dropdown-item" href="#">SAFETY KIT</a>
                    <a class="dropdown-item" href="#">SAFETY SHOES</a>
                </div>
            </div>
        </div>
    </div>

    <!-- CROP NUTRITION -->
    <div class="dropdown mx-2">
        <button class="btn-dropdown dropdown-toggle" type="button" id="cropNutritionDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            CROP NUTRITION
        </button>
        <div class="dropdown-menu" aria-labelledby="cropNutritionDropdown">
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="mx-2">
                    <h6 class="dropdown-header">FERTILIZERS</h6>
                    <a class="dropdown-item" href="#">CHEMICAL FERTILIZERS</a>
                    <a class="dropdown-item" href="#">BIO/ORGANIC FERTILIZERS</a>
                    <a class="dropdown-item" href="#">MICRO NUTRIENTS</a>
                    <a class="dropdown-item" href="#">HUMIC ACIDS</a>
                    <a class="dropdown-item" href="#">pH BALAMCERS HYBRID</a>
                </div>
                <div class="mx-2">
                    <h6 class="dropdown-header">GROWTH PROMOTERS</h6>
                    <a class="dropdown-item" href="#">PLANT GROWTH PROMOTERS</a>
                    <a class="dropdown-item" href="#">PLANT ENHANCERS</a>
                    <a class="dropdown-item" href="#">BIO STMULANTS/ACTIVATORS</a>
                </div>
                <div class="mx-2">
                    <h6 class="dropdown-header">PLANT GROWTH REGULATORS</h6>
                    <a class="dropdown-item" href="#">HERBICIDES</a>
                    <a class="dropdown-item" href="#">NEMATICIDES</a>
                </div>
            </div>
        </div>
    </div>
</div>


   
     

  
  

<!-- Coursel section -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://bighaat-prodv2-media-cdn.azureedge.net/wsfbanners/b68d4684-cf50-48cb-a894-6536e5269e61.webp" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://bighaat-prodv2-media-cdn.azureedge.net/wsfbanners/c183ba0a-9d93-4b39-99f9-6d43f7f4d98c.webp" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://bighaat-prodv2-media-cdn.azureedge.net/wsfbanners/971c4c52-60a6-45d0-8094-3d1993babf1b.webp" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item active">
        <img src="https://bighaat-prodv2-media-cdn.azureedge.net/wsfbanners/6f1966ae-5e63-41a2-bec9-86d2fb368380.webp" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>